@use "sass:color";

@use "../../customs" as *;

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem-calc(80);
    position: relative;

    @include container(rem-calc(48), rem-calc(24));

    > div {
        h1 {
            color: $primary-color;
        }

        > p {
            color: $white-color;
            margin: rem-calc(0 0 16);
        }
    }

    > img {
        @extend %page-bg;
    }

    &-container {
        width: 100%;
        max-width: rem-calc(800);
        margin: 0 auto;
    }

    &-item {
        border-bottom: 1px solid rgba($primary-color, 0.75);
        padding: rem-calc(16 0);

        &:nth-child(1) {
            &::before {
                content: "Algemene Informatie";
                display: block;
                color: $primary-color;
                font-weight: 600;
                margin-bottom: rem-calc(8);

                @include fluid-type(24, 32);
            }
        }

        &:nth-child(4) {
            &::before {
                content: "Account en Registratie";
                display: block;
                color: $primary-color;
                font-weight: 600;
                margin: rem-calc(16 0 4);

                @include fluid-type(24, 32);
            }
        }

        &:nth-child(7) {
            &::before {
                content: "Functionaliteiten";
                display: block;
                color: $primary-color;
                font-weight: 600;
                margin: rem-calc(16 0 4);

                @include fluid-type(24, 32);
            }
        }

        &:nth-child(10) {
            &::before {
                content: "Privacy en Veiligheid";
                display: block;
                color: $primary-color;
                font-weight: 600;
                margin: rem-calc(16 0 4);

                @include fluid-type(24, 32);
            }
        }

        &:nth-child(13) {
            &::before {
                content: "Problemen en Ondersteuning";
                display: block;
                color: $primary-color;
                font-weight: 600;
                margin: rem-calc(16 0 4);

                @include fluid-type(24, 32);
            }
        }
    }

    &-question {
        cursor: pointer;
        font-weight: 600;
        margin: 0;
        padding: rem-calc(16 0);

        @include smooth-trans;
        @include fluid-type(18, 20);

        &:hover {
            color: $secondary-color;
        }
    }

    &-answer {
        margin-bottom: rem-calc(16);
        color: color.adjust($white-color, $lightness: -17.5%);

        > i {
            color: $secondary-color;
        }

        span {
            padding-left: rem-calc(16);
        }
    }
}
