@use "../../customs" as *;

.forget-pwd {
    position: relative;

    @include container(rem-calc(48), rem-calc(24));

    > div {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);
        max-width: rem-calc(550);

        > p {
            color: $white-color;
            margin: rem-calc(0 0 16);
            max-width: 48ch;
        }
    }

    > img {
        @extend %page-bg;
    }

    &-form {
        > fieldset {
            display: flex;
            align-items: center;
            gap: rem-calc(16);

            > input {
                @extend %page-input;
            }

            > button {
                margin-left: auto;

                @include button;

                @include mobile {
                    margin-left: unset;
                }
            }
        }

        .error {
            background-color: $error-color;

            @extend %page-log;
        }

        .loading {
            background-color: $success-color;

            @extend %page-log;
        }
    }
}
