@use "../../customs" as *;

.login {
    $login: &;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
        gap: rem-calc(48);
    }

    > div:first-child {
        position: relative;

        @include container(rem-calc(48), rem-calc(24));

        > img {
            @extend %page-bg;
        }
    }

    &-container {
        font-family: $montserrat;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;

        #{$login}-wrapper {
            background: $primary-color;
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%),
                0 10px 10px rgb(0 0 0 / 22%);
            position: relative;
            width: rem-calc(768);
            min-height: rem-calc(544);
            border-top: 2px solid $white-color;
            border-bottom: 2px solid $white-color;

            @include mobile {
                border: 2px solid $white-color;
                min-height: rem-calc(560);

                @include border-radius(10);
            }

            .form-container {
                position: absolute;
                top: 0;
                height: 100%;
                color: $black-color;

                form {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transition: all 0.25s ease;
                    position: relative;
                    padding: rem-calc(24 16 16);

                    @include mobile {
                        padding: rem-calc(48 32 36);
                    }

                    > h3 {
                        font-weight: bold;
                    }

                    > span {
                        @extend %login-text;
                    }

                    input {
                        background: #eee;
                        border: none;
                        padding: rem-calc(8 14);

                        @include border-radius(3);
                        @include box-shadow;

                        @include phablet {
                            padding: rem-calc(10 15);
                        }

                        &::placeholder {
                            color: $third-color;

                            @include fluid-type(12, 14);
                        }

                        &:focus {
                            outline: 2px solid $secondary-color;

                            &::placeholder {
                                color: transparent;
                            }
                        }
                    }

                    > a {
                        text-decoration: none;

                        &.forget-link {
                            margin-top: auto;
                            text-decoration: underline;
                            text-underline-offset: 3px;
                            text-decoration-color: $white-color;

                            @extend %login-text;

                            @include mobile {
                                margin-top: auto;
                            }

                            &:hover {
                                text-decoration-color: $secondary-color;
                            }
                        }
                    }

                    > button {
                        border: 2px solid $black-color;
                        background: $white-color;

                        @extend %login-button;

                        &:hover {
                            transform: scale(1.025);
                        }
                    }

                    .error,
                    .loading {
                        padding: rem-calc(4 8);
                        font-weight: bold;
                        text-align: center;
                        color: $white-color;

                        @include border-radius(5, false);
                        @include fluid-type(9, 13);
                    }

                    .error {
                        background-color: $error-color;
                    }

                    .loading {
                        background-color: $success-color;
                    }
                }

                &.sign-up-container,
                &.sign-in-container {
                    left: 0;
                    width: 50%;
                    transition: all 0.25s ease;
                }

                &.sign-up-container {
                    opacity: 0;
                    z-index: 1;
                    background: $primary-color;

                    h3 {
                        @include fluid-type(20, 22);
                    }

                    span {
                        margin-bottom: rem-calc(0);
                    }

                    form {
                        gap: rem-calc(16);

                        @include mobile {
                            gap: rem-calc(20);
                        }
                    }

                    button {
                        margin-top: auto;
                    }
                }

                &.sign-in-container {
                    z-index: 2;
                    transition: all 0.25s ease;

                    h3 {
                        @include fluid-type(20, 24);
                    }

                    span {
                        margin-bottom: rem-calc(32);

                        @include mobile {
                            margin-bottom: rem-calc(16);
                        }
                    }

                    form {
                        gap: rem-calc(16);

                        @include mobile {
                            gap: rem-calc(20);
                        }
                    }
                }
            }

            &.right-panel-active .sign-in-container {
                transform: translateX(100%);
            }

            &.right-panel-active .overlay-container {
                transform: translateX(-100%);
            }

            &.right-panel-active .sign-up-container {
                transform: translateX(100%);
                opacity: 1;
                z-index: 5;
            }

            &.right-panel-active .overlay {
                transform: translateX(50%);
            }

            &.right-panel-active .overlay-left {
                transform: translateX(0);
            }

            &.right-panel-active .overlay-right {
                transform: translateX(20%);
            }
        }

        .overlay {
            background: linear-gradient(
                    to left,
                    rgb(255 255 255 / 100%),
                    $white-color
                )
                no-repeat 0 0 / cover;
            color: $black-color;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.25s ease-in-out;

            &-title {
                font-weight: bold;

                @include fluid-type(20, 24);
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: rem-calc(16);

                @extend %login-text;
            }

            &-container {
                position: absolute;
                top: 0;
                left: 50%;
                width: 50%;
                height: 100%;
                overflow: hidden;
                transition: transform 0.25s ease-in-out;
                z-index: 6;
            }

            &-panel {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 50%;
                text-align: center;
                transform: translateX(0);
                transition: transform 0.25s ease-in-out;
                padding: rem-calc(24 16 16);
                gap: rem-calc(16);

                @include mobile {
                    padding: rem-calc(48 32 36);
                    gap: rem-calc(20);
                }

                > button {
                    background: transparent;
                    border: 2px solid $primary-color;
                    margin-top: auto;

                    @extend %login-button;
                }
            }

            &-right {
                right: 0;
                transform: translateX(0);
            }

            &-left {
                transform: translateX(-20%);
            }
        }
    }
}
