@use "../../customs" as *;

.reset-pwd {
    position: relative;

    @include container(rem-calc(48), rem-calc(24));

    > div {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);
        max-width: rem-calc(550);

        > p {
            color: $white-color;
            margin: rem-calc(0 0 16);
            max-width: 48ch;
        }
    }

    > img {
        position: absolute;
        right: 0;
        max-width: rem-calc(250);
        z-index: -1;
        top: 0;
        height: auto;
        opacity: 0.375;
    }

    &-form {
        input {
            background: #eee;
            border: none;
            padding: rem-calc(10 15);
            margin: rem-calc(10 0);
            color: $black-color;

            @include border-radius(3);

            &::placeholder {
                font-size: rem-calc(15);
                color: $third-color;
            }

            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }

        button {
            display: block;
            margin: rem-calc(12 0 12) auto;

            @include button;
        }

        .logerror {
            background-color: #ff0102;
            font-weight: bold;
            color: white;
            padding: rem-calc(4 12);
            margin-top: rem-calc(16);
            text-align: center;

            @include border-radius(3);
        }

        .loadingmsg {
            background-color: green;
            font-weight: bold;
            color: white;
            padding: rem-calc(4 12);
            margin-bottom: rem-calc(16);

            @include border-radius(10);
        }
    }
}
