@use "../../customs" as *;

.reset-pwd {
    position: relative;

    @include container(rem-calc(48), rem-calc(24));

    > div {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);
        max-width: rem-calc(550);

        > p {
            color: $white-color;
            margin: rem-calc(0 0 16);
            max-width: 48ch;
        }
    }

    > img {
        @extend %page-bg;
    }

    &-form {
        > fieldset {
            > input {
                @extend %page-input;
            }

            button {
                display: block;
                margin: rem-calc(12 0 0) auto;

                @include button;
            }
        }

        .error {
            background-color: $error-color;

            @extend %page-log;
        }

        .loading {
            background-color: $success-color;

            @extend %page-log;
        }
    }
}
