@use "../../customs" as *;

.success {
    @include container(rem-calc(48), rem-calc(24));

    > div {
        max-width: rem-calc(550);
    }

    a {
        display: block;
        margin-top: rem-calc(24);

        @include button;
    }
}
