@import "../customs/colors";
@import "../customs/utilities";

@mixin chooseDisplay {
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 200px;
  border: solid 5px #424242;
  cursor: pointer;
  @include smoothtrans;

  &:hover {
    border: solid 5px $secondary-color;
  }
}

@mixin chooseUsername {
  position: absolute;
  top: 33%;
  left: 34%;
  z-index: 2;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  width: 99.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin occupateColor {
  position: absolute;
  top: 38%;
  left: 38%;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  border-radius: 7.5px;
  font-size: 0.5em;
  padding: 2.5px 2.5px;
}

@mixin biographyPhone {
  position: absolute;
  top: 44%;
  left: 15%;
  z-index: 2;
  text-align: center;
  max-width: 35ch;
  overflow-wrap: break-word;
  width: 250px;
  margin: 0 auto;
  font-size: 0.6em;
}

@mixin chooseIcon {
  display: flex;
  position: absolute;
  gap: 17.5px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin chooseLinks {
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  padding: 2.5px 25px;
  font-size: 0.9em;
}

@mixin chooseStrokes {
  width: 50px;
  height: 12.5px;
  margin: 10px 0;
}

.grid-container {
  display: grid;
  min-height: calc(100vh - 290px);
  grid-template-columns: 0.3fr 1.3fr 1fr;
  grid-template-rows: 0fr 2.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "Sidebar Dashboard Dashboard Link"
    "Sidebar Dashboard Dashboard Preview"
    "Sidebar Dashboard Dashboard Preview";

  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), $primary-color);
}

// SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR  <--------------------------------------------------------------------------------> SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR
.Sidebar {
  grid-area: Sidebar;
  border: 3px solid $primary-color;
  background-color: $black-color;

  .btn {
    @include smoothtrans;
    &:hover {
      border-color: $secondary-color !important;
    }
  }
}

// NAVIGATION
// .Navigation {
//   grid-area: Navigation;
//   // background: linear-gradient(to bottom, white, #ededed);
//   background: linear-gradient(to left, white, $primary-color) no-repeat 0 0 /
//     cover;
// }

// PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW  <--------------------------------------------------------------------------------> PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW
.Preview {
  grid-area: Preview;
  background-color: $black-color;
  border: 3px solid $primary-color;
  display: flex;
  justify-content: center;

  .iphone {
    &-frame {
      position: -webkit-sticky;
      position: sticky;
      overflow: hidden;
      height: 675px;
      margin: 5% 1%;
      width: 325px;
      border-radius: 50px;
      border: solid #333 10px;
      top: 150px;
    }

    // &-bg {
    //   position: relative;
    //   width: 100vh;
    //   height: 100%;
    //   z-index: 1;
    // }

    &-background {
      position: relative;
      height: 100%;
      z-index: 1;
    }

    &-avatar {
      position: absolute;
      top: 10%;
      left: 30%;
      width: 125px;
      height: 125px;
      z-index: 2;
      border-radius: 50%;
      display: inline-block;
      object-fit: cover;
      //
    }

    &-links {
      position: absolute;
      top: 69%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
      font-size: 0.875em;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }

    &-socials {
      display: flex;
      position: absolute;
    }
  }
}

// DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD  <--------------------------------------------------------------------------------> DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD
.Dashboard {
  grid-area: Dashboard;
  background-color: $black-color;
  border: 3px solid $primary-color;

  .loading-complete {
    color: white;
    background-color: #57a55f;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1em auto 0;
    padding: 1px 7.5px;
    border-radius: 2.5px;
  }

  .avatarformcont {
    display: flex;
    gap: 5em;

    & > * {
      flex: 1 1 50%;
      justify-content: space-evenly;
    }

    .formavatar {
      // flex-basis: 100%;
      gap: 2em;
      display: flex;
      align-items: center;

      .avatar-image {
        width: 150px;
        min-width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        background: $white-color;
      }

      .buttonsenzo {
        display: flex;
        flex-direction: column;
        gap: 0.25em;

        .add-btn {
          margin: 5px;
          width: 100px;
        }

        .reset-btn {
          margin: 5px;
          width: 100px;
          background-color: $error-color;
          color: $white-color;
        }

        .submit-btn {
          margin: 5px;
          width: 100px;
        }
      }
    }
  }

  .progress {
    margin: 1rem 0;
    background-color: red;

    &-seek {
      background-color: green;
      height: 3px;
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      justify-content: space-evenly;

      align-items: center;

      & > * {
        flex: 1 1 50%;
      }

      label {
        color: $primary-color;
        font-size: 0.65em;
        max-width: 10em;
      }

      input:focus {
        color: $secondary-color;
      }

      input:hover {
        @include smoothtrans;
      }

      input[type="password"]:focus::placeholder {
        opacity: 0;
      }

      .profile-input {
        // flex: 2;
        color: $white-color;
        font-size: 16px !important;
        min-width: 10em;
        background: transparent;
        outline: none;
        border: none;
        padding: 15px 15px;
        max-width: 15em;
        // border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
        border-radius: 1px;
        @include smoothtrans;
      }

      button {
        min-width: 75px;
        max-width: 125px;
        height: 35px;
      }
    }
  }

  .bioAndOccupateCont {
    display: flex;
    justify-content: space-evenly;
    margin: 2.5em 0;
    flex-wrap: wrap;
    gap: 2em;

    label {
      color: $primary-color;
      font-size: 0.625em;
    }

    :nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      .occupateInput {
        background: linear-gradient(135deg, #1a1a1a, $black-color);
        text-align: center;
        min-width: 75px;
        padding: 10px 7.5px;
        border: 1px $primary-color solid;
        border-radius: 2.5px;
        cursor: pointer;

        &:hover {
          border: 1px $secondary-color solid;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      input {
        display: none;
      }

      .currentOccupate {
        border: 1px $white-color solid !important;
        color: $white-color !important;
      }
    }

    :nth-child(2) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.75em;

      label {
        align-self: flex-start;
      }

      button {
        min-width: 150px;
        max-width: 200px;
        height: 35px;
        align-self: flex-end;
      }

      .bioInput {
        // max-width: 25em;
        width: 30em;
        height: 10em;
        font-family: "Poppins", sans-serif;
        color: $white-color;
        font-size: 16px !important;
        background: transparent;
        outline: none;
        border: none;
        resize: none;
        // overflow:hidden;
        padding: 17.5px;

        background: linear-gradient(135deg, #1a1a1a, $black-color);
        border: 1px $primary-color solid;
        border-radius: 10px;
        @include smoothtrans;

        &:focus {
          border: 1px $secondary-color solid;
        }
      }
    }
  }

  .social-cont {
    display: flex;
    flex-wrap: wrap;
    // background: linear-gradient(to left, #cd9c32, black) no-repeat 0 0 / cover;
    background: $primary-color;

    justify-content: space-evenly;
    border: 2px solid rgba(255, 255, 255, 0.1);

    gap: 1em;
    border-radius: 12.5px;
    padding: 25px;
    margin: 15px 0;

    form {
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 1em;
      flex: 1;
      flex-direction: column;

      // &:nth-child(-n + 2) {
      //   padding-right: 50px;
      //   border-right: 1px solid rgba(128, 128, 128, 0.404);
      // }

      .social-icons {
        margin-right: 0.75em;
      }

      label {
        font-size: 0.75em;
      }

      .social-input {
        font-size: 16px !important;
        padding: 10px;
        color: rgba(255, 255, 255, 0.5);

        opacity: 0.75;
        background: transparent;
        outline: none;
        border: none;
        text-align: center;
        border-radius: 3px;
        @include smoothtrans;
      }

      input:focus {
        color: $white-color;
      }

      input:hover {
        @include smoothtrans;
      }

      input::placeholder {
        font-size: 0.75em;
        color: rgba(255, 255, 255, 0.5);
      }

      button {
        width: 100px;
      }
    }

    .vl {
      border-left: 3px solid black;
      height: 75%;
      position: absolute;
      left: 50%;
      top: 12.5%;
      opacity: 0.1;
    }
  }

  .link-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.5% !important;
    gap: 1em;
    flex-wrap: wrap;

    .linksOnline {
      display: flex;
      gap: 2em;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
    }

    .buttonsOnline {
      display: flex;
      gap: 1em;
      align-items: flex-end;
    }

    input {
      font-size: 16px !important;
      min-width: 5em;
      width: 100%;
      padding: 8.75px 10px;
      opacity: 0.75;
      outline: none;
      border: none;
      // border-bottom: 1px solid $secondary-color !important;
      border-radius: 3px;

      &::placeholder {
        font-size: 0.75em;
      }
    }
  }

  .logerror {
    // box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
    border: red 1px solid;
    background-color: #c60319;
    font-weight: bold;
    color: white;
    padding: 0.3rem 0.5rem;
    margin: 1em auto 0;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    font-size: 0.7em;
  }

  .linkErrorStyle {
    // box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
    background-color: #c60319;
    border: red 1px solid;
    width: 95%;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    padding: 0.3rem 0.5rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
  }
}

.links-cont {
  // border: 3px solid rgba(128, 128, 128, 0.192);
  // background: linear-gradient(
  //     to right,
  //     white,
  //     white,
  //     white,
  //     white,
  //     white,
  //     // rgba(128, 128, 128, 0.087)
  //     #16b7f275
  //   )
  //   no-repeat 0 0 / cover;
  background: linear-gradient(
      to right,
      white,
      white,
      white,
      white,
      white,
      white,
      // rgba(128, 128, 128, 0.087)
      $primary-color
    )
    no-repeat 0 0 / cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2.5px $primary-color solid;

  .updateLinkShow {
    width: 200px;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $black-color;
    font-weight: bold;
  }

  .updateHyperLinkShow {
    font-size: 0.75em;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-color;
    font-weight: bold;

    a {
      color: $secondary-color;
    }
  }

  button {
    background-color: $primary-color;
    padding-top: 5px;
    padding-bottom: 5px;

    color: $white-color;
    font-size: 0.7em;
    margin-left: 1em;
  }

  .edit-input {
    border: 0;
    border-bottom: 1px solid #b4becb77;
    color: $black-color;
    background: transparent;
    padding: 10px 0px;
    width: 17.5em;
    font-size: 16px !important;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 0.75em;
    }
  }

  .trashBtn:hover {
    color: #d9534f !important;
  }

  .updateLinkcont {
    flex: 1 1 42.5%;
    display: flex;
    margin-right: 1em;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

  .updateHyperLinkcont {
    flex: 1 1 42.5%;
    display: flex;
    margin-right: 1em;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

  .deleteShowcont {
    flex: 1 1 15%;
    display: flex;

    justify-content: space-around;
    gap: 1em;
  }

  .inputCont {
    display: block;
    position: relative;
    user-select: none;
    padding-left: 20px;
    margin-bottom: 17.5px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 17.5px;
      width: 17.5px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 4;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 17.5px;
      width: 17.5px;
      background-color: #eee;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: $light-color;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    &:hover input:checked ~ .checkmark {
      background-color: rgb(255, 81, 81);
      border-radius: 2.5px;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: rgb(43, 169, 43);
      border-radius: 2.5px;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 6px;
      top: 2.5px;
      width: 3px;
      height: 7.5px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// ----------- //

/* Hide the browser's default checkbox */

// ----------- //

.pickColor {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
}

.chooseColor {
  align-self: center;
  justify-self: center;
}

.currentStyle {
  border: 5px $primary-color solid !important;
}

// ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW

.yellowstyle {
  background: linear-gradient(to bottom, yellow, black);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: black;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;
    color: white;
  }

  &-links {
    margin: 10px 0;

    a {
      background: white;
      color: black;
      border: 1px solid yellow;

      box-shadow: 1px 3px 5px rgba(55, 55, 55, 0.767);
      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: yellow;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.yellowtheme {
  background: linear-gradient(to bottom, yellow, black);
  @include chooseDisplay;

  .yellowlinks {
    background: white;
    border: 1px solid yellow;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY

.graystyle {
  background: linear-gradient(to bottom, grey, white);

  &-username {
    @include chooseUsername;
    color: #595959;
  }

  &-occupate {
    @include occupateColor;
    color: #595959;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;
    color: white;
  }

  &-links {
    margin: 10px 0;

    a {
      box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
      background: rgba(255, 255, 255, 0.797);
      color: #878787;
      border: 1px solid #878787;

      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: grey;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
.graytheme {
  background: linear-gradient(to bottom, grey, white);
  @include chooseDisplay;

  .graylinks {
    background: rgba(255, 255, 255, 0.797);
    border: 1px solid #878787;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // PINK PINK PINK

.pinkstyle {
  background: linear-gradient(to bottom, pink, grey);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: grey;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;
    color: white;
  }

  &-links {
    margin: 10px 0;

    a {
      box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
      color: white;
      background: #a8a8a8;
      border: 1px solid white;

      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: pink;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.pinktheme {
  background: linear-gradient(to bottom, pink, grey);
  @include chooseDisplay;

  .pinklinks {
    background: #a8a8a8;
    border: 1px solid white;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK

.blackstyle {
  background: linear-gradient(to bottom, black, grey);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: black;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;
    color: white;
  }

  &-links {
    margin: 10px 0;

    a {
      background: #878787;
      color: white;
      border: 1px solid white;

      box-shadow: 1px 3px 5px rgba(49, 49, 49, 0.767);
      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: white;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.blacktheme {
  background: linear-gradient(to bottom, black, grey);
  @include chooseDisplay;

  .blacklinks {
    background: #878787;
    border: 1px solid white;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // BROWN BROWN BROWN

.brownstyle {
  background: linear-gradient(to bottom, brown, white);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: white;
    background-color: brown;
  }

  &-biography {
    @include biographyPhone;
    color: #e0e0e0;
  }

  &-links {
    margin: 10px 0;

    a {
      background: white;
      color: brown;
      border: 1px solid brown;

      box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: brown;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
.browntheme {
  background: linear-gradient(to bottom, brown, white);
  @include chooseDisplay;

  .brownlinks {
    background: white;
    border: 1px solid brown;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // GREEN GREEN GREEN

.greenstyle {
  background: linear-gradient(to bottom, green, white);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: green;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;
    color: #ededed;
  }

  &-links {
    margin: 10px 0;

    a {
      background: white;
      color: green;
      border: 1px solid green;

      box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: green;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
.greentheme {
  background: linear-gradient(to bottom, green, white);
  @include chooseDisplay;

  .greenlinks {
    background: white;
    border: 1px solid green;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // AFRO THEME AFRO THEME AFRO THEME

.afrospecstyle {
  background: linear-gradient(to bottom, #e6541b, black);

  &-username {
    @include chooseUsername;
    color: white;
  }

  &-occupate {
    @include occupateColor;
    color: black;
    background-color: white;
  }

  &-biography {
    @include biographyPhone;

    color: white;
  }

  &-links {
    margin: 10px 0;

    a {
      background: white;
      color: black;
      border: 1px solid #e6541b;

      @include chooseLinks;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-icons {
    @include chooseIcon;

    &:nth-child(n) {
      a {
        color: #e6541b;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
.afrospectheme {
  background: linear-gradient(to bottom, #e6541b, black);
  @include chooseDisplay;

  .afrospeclinks {
    background: white;
    border: 1px solid #e6541b;
    border-radius: 2px;
    @include chooseStrokes;
  }
}

// ---------------------------------------------------------------------------------------- // COLORS

// LINK LINK LINK LINK LINK LINK LINK LINK LINK <--------------------------------------------------------------------------------> LINK LINK LINK LINK LINK LINK LINK LINK
.Adslink {
  grid-area: Link;

  .usLinkAfro {
    border: 3px solid $primary-color;
    float: left;
    width: 40%;
    color: white;
    background: $primary-color;
    padding: 10px 10px;
    border-radius: 10px 0 0px 10px;
  }

  .usLinkSite {
    border: 3px solid $primary-color;
    float: right;
    width: 60%;
    background-color: $black-color;
    padding: 10px 10px;
    border-radius: 0 10px 10px 0;
    color: white;

    .userLink {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// small devices
@media (max-width: 40em) {
  .grid-container {
    margin: 2.5px !important;
    padding: 0px !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Sidebar"
      "Dashboard"
      "Preview"
      "Link";

    .Dashboard {
      padding: 1rem;

      .bioAndOccupateCont {
        margin: 1.5em 0;

        :first-child {
          gap: 0 !important;

          label {
            transform: scale(0.75);
          }
        }

        .bioInput {
          width: 22.5em;
          height: 7.5em;
          padding: 17.5px;
        }
      }

      .social-cont {
        form {
          padding-bottom: 1.5em;
          border-bottom: 3px rgba(255, 255, 255, 0.2) solid;

          button {
            width: 75%;
          }
        }
      }

      .profile-info {
        form {
          label {
            color: $primary-color;
            font-size: 0.5em;
            max-width: 10em;
          }

          button {
            min-width: 75px;
            max-width: 100px;
            height: 35px;
          }
        }
      }

      .mobileHr {
        margin: 50px auto !important;
      }

      .vl {
        display: none;
      }

      .avatarformcont {
        flex-direction: column;
      }

      .links-cont {
        flex-direction: column;
        margin: 0px;
        margin-bottom: 0.5em;

        gap: 1.25em;
        padding: 1em;

        .updateLinkcont {
          margin-right: 0;
        }

        .updateHyperLinkcont {
          margin-right: 0;
        }

        .deleteShowcont {
          margin-top: 0.5em !important;
        }

        .edit-input {
          width: 100%;
        }
      }

      .link-cont {
        .linksOnline {
          min-width: 100%;
        }
      }

      .pickColor {
        .chooseColor {
          transform: scale(0.8);
        }
      }
    }
  }
}

// large devices
@media (max-width: 64em) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Sidebar"
      "Dashboard"
      "Preview"
      "Link";

    .Dashboard {
      .avatarformcont {
        flex-direction: column;
      }

      .links-cont {
        flex-direction: column;

        .updateLinkcont {
          margin-right: 0;
          width: 100%;
          justify-content: space-between;
        }

        .updateHyperLinkcont {
          margin-right: 0;
          width: 100%;
          justify-content: space-between;
        }

        .deleteShowcont {
          margin-top: 1.5em;
          width: 100%;
          justify-content: space-between;
        }
      }

      .link-cont {
        input {
          &::placeholder {
            // font-size: 0.9em;
          }
        }
      }
    }

    .Sidebar {
      background: linear-gradient(to right, $black-color, $primary-color);
      // background: linear-gradient(to bottom, black, white, white, white) no-repeat
      //   0 0 / cover;
    }

    .Adslink {
      // font-size: 0.8em;

      .usLinkAfro {
        color: black;
        background: white;
      }

      .usLinkSite {
        background: black;
        color: white;
      }

      .userLink {
        color: $primary-color;
        width: 100% !important;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

@media (max-width: 90em) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Sidebar"
      "Dashboard"
      "Preview"
      "Link";

    .Sidebar {
      background: linear-gradient(to right, $black-color, $primary-color);

      h5 {
        text-align: left !important;
      }
    }
  }
}
