@import '../../styles/configs/globals';

.grid-container {
	display: grid;
	gap: 1em;
	min-height: calc(100vh - 290px);
	grid-template-columns: 0.5fr 1.3fr 1.2fr;
	grid-template-rows: 0fr 2.8fr;
	grid-template-areas:
		'Sidebar Dashboard Dashboard Slug'
		'Sidebar Dashboard Dashboard Preview'
		'Sidebar Dashboard Dashboard Preview';

	background: linear-gradient(135deg, rgba(0 0 0 / 50%), $primaryColor);

	@include desktop {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'Sidebar Sidebar Slug'
			'Dashboard Dashboard Preview'
			'Dashboard Dashboard Preview';
	}

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'Sidebar Slug '
			'Dashboard Dashboard'
			'Dashboard Dashboard'
			'Preview Preview';
	}

	@include mobile {
		grid-template-columns: 1fr;
		grid-template-areas:
			'Sidebar'
			'Dashboard'
			'Dashboard'
			'Preview'
			'Slug';
	}

	section {
		> h2 {
			color: $whiteColor;
			text-decoration: underline;
			text-decoration-color: $blackColor;
			text-underline-offset: 5px;
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.75rem;
			background: $primaryColor;
			border-radius: 5px;
			outline: 3px solid $primaryColor;
		}

		> hr {
			border: 1px solid white;
			opacity: 0.125;
			width: 50%;
			margin: 3em auto 1em;
		}
	}

	@include card(1em, 1em);

	@include mobile {
		@include card(0.5em, 0.675em);
	}
}

// SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR  <--------------------------------------------------------------------------------> SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR
.sidebar {
	grid-area: Sidebar;
	border: 3px solid $primaryColor;
	background-color: $blackColor;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include desktop {
		flex-direction: row;
		align-items: center;
	}

	@include tablet {
		flex-direction: row;
		align-items: center;
	}

	@include mobile {
		flex-direction: row;
		align-items: center;
	}

	@include card(0, 1em);

	button {
		align-self: flex-end;

		@include dashButton($errorColor, $whiteColor);
	}
}

// PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW  <--------------------------------------------------------------------------------> PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW PREVIEW
.preview {
	grid-area: Preview;
	background-color: $blackColor;
	border: 3px solid $primaryColor;
	display: flex;
	justify-content: center;

	@include card(0, 1em);

	@include mobile {
		@include card(0, 0);
	}
}

// DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD  <--------------------------------------------------------------------------------> DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD
.dashboard {
	grid-area: Dashboard;
	background-color: $blackColor;
	border: 3px solid $primaryColor;

	@include card(0, 2em);

	@include mobile {
		@include card(0, 1em);
	}

	.avatar-w-profile-info {
		display: flex;
		justify-content: space-evenly;
		gap: 2em;

		@include desktop {
			flex-direction: column;
		}

		@include tablet {
			flex-direction: column;
			flex-wrap: wrap;
		}

		@include mobile {
			flex-direction: column;
		}

		.profile-info {
			flex: 55%;
			display: flex;
			flex-direction: column;
			gap: 0.75em;
		}
	}

	.occupation-w-bio {
		display: flex;
		justify-content: space-between;
		margin: 2.5em 0;

		@include mobile {
			flex-direction: column;
		}

		gap: 2em;

		label {
			color: $primaryColor;
			font-size: 0.75em;
		}
	}

	.socials {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-gap: 1em;

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	.loading-complete {
		color: white;
		background-color: #57a55f;
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 1em auto 0;
		padding: 1px 7.5px;
		border-radius: 2.5px;
	}

	.progress {
		margin: 1rem 0;
		background-color: red;

		&-seek {
			background-color: green;
			height: 3px;
		}
	}
}

// LINK LINK LINK LINK LINK LINK LINK LINK LINK <--------------------------------------------------------------------------------> LINK LINK LINK LINK LINK LINK LINK LINK
.slug {
	grid-area: Slug;
}
