@import "../customs/colors";
@import "../customs/utilities";

.docs-main {
  h3 {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
  }

  nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  a:hover {
    font-weight: bold;
  }
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

// --> MQ: Tablet !
@media (max-width: 768px) {
  .docs-head {
    text-align: center;

    img {
      justify-self: center;
    }
  }
}

// --> MQ: Mobile !
@media (max-width: 600px) {
}
