@import "../customs/colors";
@import "../customs/utilities";

footer {
  text-align: center;
  color: #8c8c8c;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    filter: grayscale(100%);
    transition: all 0.6s ease-in-out;
    padding: 0 5px;
    color: white;

    &:hover {
      filter: grayscale(0%);
      color: #ffcc00;
      transition: all 0.6s ease-in-out;
    }
  }

  img {
    filter: grayscale(100%);
    transition: all 0.6s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      transition: all 0.6s ease-in-out;
    }
  }
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// small devices
@media (max-width: 40em) {
  footer {
    font-size: 0.675em;
  }
}

// large devices
@media (max-width: 64em) {
}
