@import '../../styles/configs/globals';

.inputRes {
	input {
		background: #eee;
		border: none;
		padding: 10px 15px;
		margin: 10px 0;
		width: 100%;
		border-radius: 3px;
		font-size: 16px;
	}

	button:focus {
		outline: none;
	}

	button {
		margin-top: 3%;
		padding: 3.5px 20px 2.5px 20px;
		float: right;
		color: black;
		background-color: #cc9932;
	}
}

.logerror {
	background-color: #ff0102;
	font-weight: bold;
	color: white;
	padding: 0.1rem 0.7rem;
	border-radius: 3px;
	margin-top: 1em;
	text-align: center;
	font-size: 0.6em;
}

.loadingmsg {
	background-color: green;
	font-weight: bold;
	color: white;
	padding: 0.3rem 0.7rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}
