@use 'sass:color';

@import '../../styles/configs/globals';

.navbar {
	background-color: $blackColor;
	min-height: 70px;
	color: $whiteColor;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		@include container;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 1.5em;

		> li {
			> a,
			button {
				@include smoothTrans;

				&:hover {
					color: #787878;
				}
			}

			&.logged-user {
				> a {
					background: $primaryColor;
					color: color.adjust($blackColor, $lightness: 15%);
					padding: 0.25em 1em;
					font-weight: bold;
					border-radius: 5px;

					@include smoothTrans;

					&:hover {
						background: $secondaryColor;
						color: $blackColor;
					}
				}
			}
		}
	}
}
