@import "../customs/colors";
@import "../customs/utilities";

.navbar {
  background-color: $black-color;
  min-height: 70px;
  color: $white-color;

  ul {
    display: flex;
  }

  a {
    color: $white-color;
    padding: 10px;
    margin: 0 5px;
    @include smoothtrans;

    &:hover {
      @include smoothtrans;
      color: $primary-color;
    }
  }

  .flex {
    justify-content: space-between;
  }
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// Small devices
@media (max-width: 575.98px) {
  .navbar {
    min-height: 125px;

    .flex {
      flex-direction: column;
    }

    ul {
      padding: 10px;
    }
  }
}

// Normal devices
@media (max-width: 767.98px) {
}

// Medium devices
@media (max-width: 991.98px) {
}

// Large devices
@media (max-width: 1199.98px) {
}
