@use 'sass:color';

@import '../../styles/configs/globals';

.navbar {
	background-color: $blackColor;
	min-height: 70px;
	color: $whiteColor;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		@include container(0, 1em);

		@include mobile {
			@include container(0, 1em);
		}

		> a > img {
			width: 75px;
			vertical-align: middle;
		}

		> nav > ul {
			display: flex;
			align-items: center;
			gap: 1.5em;

			> li {
				> a,
				button {
					@include smoothTrans;

					&:hover {
						color: $thirdColor;
					}
				}

				&.logged-user {
					> a {
						background: $primaryColor;
						color: color.adjust($blackColor, $lightness: 5%);
						padding: 0.25em 1em;
						font-weight: 600;
						border-radius: 5px;

						&:hover {
							background: $secondaryColor;
							color: $blackColor;

							@include smoothTrans;
						}
					}
				}
			}
		}
	}
}
