@import '../../styles/configs/globals';

@mixin testMixin {
}

.home-ads-bio {
	font-size: 0.8em;
	color: rgb(175, 175, 175);
}

.carouselUberCont {
	margin-top: 3.5em;

	.carouselCont {
		max-width: 850px;

		.carouselRow {
			display: flex;
			flex-direction: column;
			align-items: center;
			background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), $blackColor);
			border: 2px solid $whiteColor;
			border-radius: 10px;
			padding: 30px;
			text-align: center;

			.imgavatar {
				width: 175px;
				height: 175px;
				border-radius: 50%;
				object-fit: cover;
			}

			@media (max-width: 767.98px) {
				.prof-center {
					padding-top: 5rem;
				}

				.imgavatar {
					width: 150px;
					height: 150px;
				}

				.prof-center {
					h1 {
						font-size: 1.5em;
					}

					ul li a {
						width: 325px;
						padding: 7.5px 15px;
						font-size: 0.9em;
					}
				}
			}

			:nth-child(1) {
			}

			:nth-child(2) {
				height: 35px;
			}
			:nth-child(3) {
				height: 67.5px;
			}
			:nth-child(4) {
				height: 175px;
			}
			:nth-child(5) {
				height: 35px;
			}
		}
	}
}

// small devices
@media (max-width: 40em) {
	.docs-head {
		padding: 2rem 0 0 0;

		h1 {
			font-size: 2em;
		}

		p.lead {
			font-size: 0.9em;
		}
	}
	.carouselUberCont {
		margin-top: 0;
		.carouselCont {
			max-width: 225px !important;
			.carouselRow {
			}
		}
	}
}

// medium devices
@media (max-width: 55em) {
	.carouselUberCont {
		.carouselCont {
			.carouselRow {
			}
		}
	}
}

// large devices
@media (max-width: 64em) {
	.carouselUberCont {
		transform: scale(0.8);
		.carouselCont {
			.carouselRow {
			}
		}
	}
}
