@import "../customs/colors";
@import "../customs/utilities";

@mixin testMixin {
}

.home-ads-bio {
  font-size: 0.8em;
  color: rgb(175, 175, 175);
}

.carouselUberCont {
  .carouselCont {
    max-width: 850px;
    margin-top: 5em;

    .carouselRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 250px;
      min-width: 250px;
      min-height: 475px;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), $black-color);
      border: 2px solid $white-color;
      border-radius: 10px;
      padding: 30px;
      text-align: center;

      :nth-child(1) {
        // background-color: red;
      }

      :nth-child(2) {
        height: 35px;
        // background-color: red;
      }
      :nth-child(3) {
        height: 67.5px;
        // background-color: yellow;
      }
      :nth-child(4) {
        height: 175px;
        // background-color: blue;
      }
      :nth-child(5) {
        height: 35px;
        // background-color: pink;
      }
    }
  }
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// large devices
@media (max-width: 64em) {
  .carouselUberCont {
    transform: scale(0.7);
    .carouselCont {
      // max-width: 535px !important;
      margin-top: 0em !important;

      .carouselRow {
        max-width: 225px;
      }
    }
  }
}

@media (max-width: 55em) {
  .carouselCont {
    width: 810px !important;
  }
}

// small devices
@media (max-width: 40em) {
  .docs-head {
    padding: 2rem 0 0 0;

    .imgHide {
      // display: none;
      width: 22.5%;
      margin-top: -12.5em;
      margin-right: -25px;
    }

    h1 {
      font-size: 2em;
    }

    p.lead {
      font-size: 0.9em;
    }
  }

  .carouselCont {
    max-width: 250px !important;
  }
}
