@import "../customs/colors";
@import "../customs/utilities";

@mixin testMixin {
}

.home-ads-bio {
  font-size: 0.8em;
  color: rgb(175, 175, 175) !important;
}

.carouselCont {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.carouselRow {
  margin: 100px 0px 25px;
  // background: linear-gradient(
  //     to bottom,
  //     rgba(255, 255, 255, 0.25),
  //     $primary-color
  //   )
  //   no-repeat 0 0 / cover;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), $black-color);
  border: 1px solid $white-color;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// small devices
@media (max-width: 40em) {
  .docs-head {
    text-align: center;
    padding: 2rem 0 0 0 !important;

    .imgHide {
      display: none;
    }

    h1 {
      font-size: 2em;
    }
  }

  .carouselCont {
    flex-direction: column;
    margin-bottom: 50px;

    .carouselRow {
      margin: 75px 0px 0px 0px;

      border: 1px solid $white-color;
      border-radius: 10px;
      padding: 50px 40px;
      text-align: center;
    }
  }
}

// large devices
@media (max-width: 64em) {
}
