@import "../customs/colors";
@import "../customs/utilities";

@mixin testMixin {
}

img {
  width: 100%;
}

.home-ads-bio {
  font-size: 0.8em;
  color: rgb(192, 192, 192) !important;
}

.carouselCont {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.carouselRow {
  margin: 100px 0px 25px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      $primary-color
    )
    no-repeat 0 0 / cover;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .carouselCont {
    flex-direction: column;
    margin-bottom: 50px !important;

    .carouselRow {
      margin: 75px 0px 0px 0px;

      border: 1px solid white;
      border-radius: 10px;
      padding: 50px 40px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
}
