@import '../../styles/configs/globals';

.intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	@include container(1em, 2em);

	@include tablet {
		justify-content: flex-start;
		margin-bottom: 5em;
	}

	@include mobile {
		flex-direction: column;
		align-items: start;
		position: static;

		@include container(2em, 2em);
	}

	button {
		margin: 0 0.25em;
		vertical-align: text-bottom;

		@include button(0.25em);
	}

	> img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		max-width: 250px;

		@include tablet {
			position: absolute;
			right: 0;
			z-index: -1;
			top: 25%;
		}

		@include mobile {
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			height: auto;
		}
	}
}
