@import '../../styles/configs/globals';

.intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	h2 {
		margin-top: 0.5em;
		font-style: italic;
		font-weight: 500;
		color: $blackColor;
	}

	small {
		margin: 0.75em 0;
		display: block;
	}

	@include container(1em, 2em);

	@include mobile {
		flex-direction: column;
		align-items: start;
		position: static;

		@include container(2em, 2em);
	}

	button {
		margin: 0 0.25em;
		@include button(0.125em);
	}

	> img {
		object-fit: contain;
		width: 250px;
		opacity: 0.375;

		@include mobile {
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}
}
