@import '../../styles/configs/globals';

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include mobile {
		gap: 2.5em;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		position: relative;

		@include container(1em);

		@include mobile {
			flex-direction: column;
			align-items: start;
			position: static;
		}

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			max-width: 250px;

			@include mobile {
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
				height: auto;
			}
		}
	}

	.super-container {
		font-family: Montserrat, sans-serif;
		display: flex;
		justify-content: center;

		.container {
			background: $primaryColor;
			border-radius: 10px;
			box-shadow:
				0 14px 28px rgba(0 0 0 / 25%),
				0 10px 10px rgba(0 0 0 / 22%);
			position: relative;
			overflow: hidden;
			width: 768px;
			max-width: 100%;
			min-height: 480px;

			@include mobile {
				border-radius: 0;
			}

			.form-container {
				position: absolute;
				top: 0;
				height: 100%;
				color: $blackColor;

				form {
					display: flex;
					flex-direction: column;
					padding: 2em;
					gap: 1.5em;
					height: 100%;
					justify-content: center;
					align-items: center;
					text-align: center;
					transition: all 0.5s ease;
					position: relative;

					@include mobile {
						padding: 1em;
						gap: 1.25em;
					}

					h3 {
						font-weight: bold;
						font-size: 1.25rem;
					}

					span {
						font-size: 0.85rem;
					}

					a {
						text-decoration: none;

						&.forget-link {
							font-size: 0.85rem;

							&:hover {
								text-decoration: underline;
								text-underline-offset: 2px;
								text-decoration-color: $whiteColor;
							}
						}
					}

					input {
						background: #eee;
						border: none;
						padding: 10px 15px;
						border-radius: 3px;

						@include boxShadow;

						&::placeholder {
							font-size: 0.75rem;
							color: $thirdColor;
						}

						&:focus {
							outline: 2px solid $secondaryColor;

							&::placeholder {
								color: transparent;
							}
						}
					}

					button {
						border: 2px solid $blackColor;
						background: $whiteColor;
						color: $blackColor;
						font-weight: bold;
						font-size: 0.75rem;
						padding: 0.75em 3em;
						letter-spacing: 1px;
						text-transform: uppercase;
						transition: transform 80ms ease-in-out;

						&:hover {
							transform: scale(1.025);
						}
					}

					.logerror {
						font-size: 0.2rem;
						background-color: #c60319;
						font-weight: bold;
						color: $whiteColor;
						padding: 0.5em 3em;

						text-align: center;
						border-radius: 2px;
					}

					.loadingmsg {
						position: absolute;
						font-size: 0.3em;
						bottom: 37.5px;
						background-color: #57a55f;
						font-weight: bold;
						color: $whiteColor;
						padding: 0.5em 1em;
						display: table;
						margin: 0 auto;
						text-align: center;
						border-radius: 2px;
					}
				}

				&.sign-up-container {
					left: 0;
					width: 50%;
					opacity: 0;
					z-index: 1;
					background: $primaryColor;
					transition: all 0.5s ease;
				}

				&.sign-in-container {
					left: 0;
					width: 50%;
					z-index: 2;
					transition: all 0.5s ease;
				}
			}

			&.right-panel-active .sign-in-container {
				transform: translateX(100%);
			}

			&.right-panel-active .overlay-container {
				transform: translateX(-100%);
			}

			&.right-panel-active .sign-up-container {
				transform: translateX(100%);

				opacity: 1;
				z-index: 5;
			}

			&.right-panel-active .overlay {
				transform: translateX(50%);
			}

			&.right-panel-active .overlay-left {
				transform: translateX(0);
			}

			&.right-panel-active .overlay-right {
				transform: translateX(20%);
			}
		}

		.overlay {
			background: linear-gradient(
					to left,
					rgba(255 255 255 / 100%),
					$whiteColor
				)
				no-repeat 0 0 / cover;
			color: $blackColor;
			position: relative;
			left: -100%;
			height: 100%;
			width: 200%;
			transform: translateX(0);
			transition: transform 0.5s ease-in-out;

			&-title {
				font-size: 1.5rem;
				font-weight: bold;
			}

			&-text {
				font-size: 0.875rem;
				font-weight: 300;
				line-height: 20px;
				letter-spacing: 0.5px;

				@include mobile {
					font-size: 0.75rem;
				}
			}

			&-container {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				height: 100%;
				overflow: hidden;
				transition: transform 0.5s ease-in-out;
				z-index: 100;
			}

			&-panel {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 1em 3em;
				gap: 2em;
				height: 100%;
				width: 50%;
				text-align: center;
				transform: translateX(0);
				transition: transform 0.5s ease-in-out;

				@include mobile {
					gap: 1em;
					padding: 1em;
				}

				> button.mirror {
					background: transparent;
					border: 2px solid $primaryColor;
					color: $blackColor;
					font-weight: bold;
					font-size: 0.75rem;
					padding: 0.75em 3em;
					letter-spacing: 1px;
					text-transform: uppercase;

					&:hover {
						transform: scale(1.025);
					}
				}
			}

			&-right {
				right: 0;
				transform: translateX(0);
			}

			&-left {
				transform: translateX(-20%);
			}
		}
	}
}
