@import "../customs/colors";
@import "../customs/utilities";

.superContainer {
  font-family: "Montserrat", "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;

  span {
    font-size: 12px;
    margin: 15px 0;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0;
  }

  button {
    // border-radius: 20px;
    border: 1px solid black;
    background: white;
    // color: white;

    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5%;
    transition: transform 80ms ease-in;
  }

  button {
    transform: scale(0.75);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background: transparent;
    border-color: 000000;
    color: black;
  }

  .container {
    background: $primary-color;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;

    .formContainer {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;

      form {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      input {
        background: #eee;
        border: none;
        padding: 12px 15px;
        margin: 12.5px 0;
        width: 100%;
        border-radius: 3px;
      }

      .socialContainer {
        margin: 20px 0;

        a {
          border: 1px solid #333;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
          height: 40px;
          width: 40px;
        }
      }

      &.signUpContainer {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
        background: $primary-color;
      }

      &.signInContainer {
        left: 0;
        width: 50%;
        z-index: 2;
      }
    }

    &.rightPanelActive .signInContainer {
      transform: translateX(100%);
    }

    &.rightPanelActive .overlayContainer {
      transform: translateX(-100%);
    }

    &.rightPanelActive .signUpContainer {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }

    &.rightPanelActive .overlay {
      transform: translateX(50%);
    }

    &.rightPanelActive .overlay-left {
      transform: translateX(0);
    }

    &.rightPanelActive .overlay-right {
      transform: translateX(20%);
    }
  }

  .overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .overlay {
    // background: linear-gradient(to left, gray, white) no-repeat 0 0 / cover;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), white)
      no-repeat 0 0 / cover;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

    &-panel {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      height: 100%;
      width: 50%;
      text-align: center;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }

    &-right {
      right: 0;
      transform: translateX(0);
    }

    &-left {
      transform: translateX(-20%);
    }
  }
}

.signUpTitle {
  font-weight: bold;
  margin: 0;
}

.signUpText {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

label {
}

legend {
}

.afroform {
}

.afroinput {
  &:focus {
  }
}

fieldset {
}

.storeCode input {
  padding: 10px 12.5px !important;
  font-weight: bold;
  color: $secondary-color;
}

.logerror {
  position: absolute;
  bottom: 75px;
  background-color: #ff0102;
  font-weight: bold;
  color: white;
  padding: 0.1rem 0.7rem;
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
}

.loadingmsg {
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 0.3rem 0.7rem;
  display: table;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.link {
  color: $dark-color !important;
  font-weight: bold;

  :hover {
    color: #333 !important;
    transition: all 0.6s ease-in-out;
  }
}

.indexBg {
  height: 675px;
  z-index: -100;
  // background: linear-gradient(to bottom, $primary-color, black, black);
  display: block;
}

@media (max-width: 768px) {
  .docs-head {
    text-align: center;

    img {
      justify-self: center;
      display: none;
    }

    h1 {
      display: none;
    }

    p {
      // display: none;
    }
  }

  .afroform {
    display: table;
    width: 100%;
  }
}

// p {
//   color: black;
// }

// --> MQ: Mobile !
@media (max-width: 600px) {
  .logerror {
    position: absolute;
    bottom: 80px;
    font-size: 9px !important;
    padding: 0.1rem 0.3rem;
  }

  .storeCode input {
    padding: 7.5px 7.5px !important;
    margin: 8px 1px !important;
    font-size: 0.7em;
  }

  .docs-head {
    text-align: center;
    padding: 1rem 0 0 0 !important;

    img {
      justify-self: center;
      display: none;
    }

    h1 {
      display: none;
    }
  }

  .indexBg {
    height: 500px;
  }

  .superContainer {
    font-size: 0.8em;
    p,
    a {
      font-size: 0.9em;
    }

    position: absolute;
    top: 150px;

    // span {
    //   font-size: 10px;
    //   margin: 15px 0;
    // }

    .container {
      width: 97%;

      .formContainer {
        form {
          padding: 0 15px;
        }

        input {
          padding: 12px 15px;
          margin: 8px 0;
          width: 100%;
        }

        // .socialContainer {
        //   margin: 20px 0;

        //   a {
        //     border: 1px solid #333;
        //     border-radius: 50%;
        //     display: inline-flex;
        //     justify-content: center;
        //     align-items: center;
        //     margin: 0 5px;
        //     height: 40px;
        //     width: 40px;
        //   }
        // }
      }
    }

    .overlay {
      &-panel {
        padding: 0 15px;
      }
    }
  }
}
