@use 'sass:color';

@import '../configs/globals';

.maps {
	filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
	filter: grayscale(50%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
	overflow: hidden;
	height: 200px;
	width: 100%;
	margin-top: 1.5em;
	position: relative;

	@include boxShadow;
	@include smoothTrans;

	&-container {
		padding: 0 2em;

		@include mobile {
			padding: 0;
		}
	}

	&-container & {
		@include container(1em, 0, 1150px);
	}

	&.ads-dashboard {
		outline: 3px solid rgba($primaryColor, 75%);
		border-radius: 5px;
	}

	&.ads-page {
		margin: 3em auto 1em;
		width: 70%;
		border-radius: 5px;

		@include massive {
			width: 60%;
		}

		@include desktop {
			width: 90%;
		}
	}

	.marker {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;

		img {
			min-width: 50px;
			min-height: 50px;
			max-width: 50px;
			max-height: 50px;
			border-radius: 50%;
			overflow: hidden;
			object-fit: cover;
			background: linear-gradient(135deg, rgba(0 0 0 / 75%), $blackColor);
			outline: solid $whiteColor 3px;
		}
	}

	&.ads-home {
		opacity: 0.75;
		height: 250px;
		border: 2px solid rgba($primaryColor, 82.5%);
		border-radius: 5px;

		@include mobile {
			border-right: none;
			border-left: none;

			@include borderRadius(0);
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 25%;
			height: 100%;
			z-index: 1;
		}

		&::before {
			left: 0;
			background: linear-gradient(
				to right,
				$thirdColor,
				rgba(255, 255, 255, 0)
			);
		}

		&::after {
			right: 0;
			background: linear-gradient(to left, $thirdColor, rgba(255, 255, 255, 0));
		}

		&:hover {
			opacity: 1;

			&::before,
			&::after {
				width: 0%;
			}
		}
	}

	&-info {
		@include container(2em, 0, 1150px);

		@include mobile {
			@include container(1em, 0, 1150px);
		}

		&-wrapper {
			padding: 1.5em 2em;
			background: linear-gradient(135deg, rgba(0 0 0 / 50%), $blackColor);
			display: flex;
			justify-content: space-between;
			gap: 0 2em;

			@include borderRadius;
			@include boxShadow;

			@include mobile {
				flex-direction: column-reverse;
				padding: 2.5em 2em;

				@include borderRadius(0);
			}

			> div:first-child {
				display: flex;
				flex-direction: column;
				gap: 1em;

				> h3 {
					color: $primaryColor;

					span {
						color: $secondaryColor;
						font-size: initial;
					}
				}

				> span {
					i {
						color: $secondaryColor;
						font-size: 1.5em;
						margin-right: 0.5em;
					}

					> a {
						font-size: 0.9rem;

						&:hover {
							text-decoration: underline;
							text-underline-offset: 3px;
							text-decoration-color: $secondaryColor;
						}
					}
				}

				> p {
					color: color.adjust($whiteColor, $lightness: -25%);
					max-width: 70ch;
					margin: 0.5em 0;
				}

				> .info-contact {
					display: flex;
					gap: 1.5em;

					@include mobile {
						display: none;
					}

					> div {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 0.625em;

						> i {
							color: $secondaryColor;
						}

						> a {
							font-size: 0.95rem;

							&:hover {
								text-decoration: underline;
								text-underline-offset: 3px;
								text-decoration-color: $secondaryColor;
							}
						}
					}
				}

				> .info-buttons {
					display: flex;
					gap: 1em;
					margin-top: 1.75em;

					@include mobile {
						margin-left: auto;
					}

					> a {
						@include button;

						@include mobile {
							display: block;
						}
					}

					> button {
						@include button($type: 2);
					}
				}
			}

			> div:last-child {
				display: flex;
				justify-content: center;
				gap: 2.5em;

				@include tablet {
					align-items: flex-start;
				}

				@include mobile {
					justify-content: flex-start;
					align-items: center;
					margin-bottom: 2em;
				}

				.info-contact-mobile {
					display: none;

					> div {
						display: flex;
						align-items: center;
						gap: 1em;

						> i {
							color: $secondaryColor;
						}
					}

					@include mobile {
						display: flex;
						flex-direction: column;
						gap: 1em;
					}
				}

				img {
					max-height: 175px;
					max-width: 175px;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
					border-radius: 5px;
					margin-top: 0.5em;

					@include phablet {
						max-width: 150px;
						max-height: 150px;
					}

					@include mobile {
						display: block;
						width: 125px;
						height: 125px;
						margin-top: 0;
					}
				}
			}
		}
	}
}
