@import '../configs/globals';

.maps {
	filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
	filter: grayscale(50%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
	outline: 3px solid rgba($primaryColor, 75%);
	border-radius: 5px;
	overflow: hidden;

	height: 200px;
	width: 100%;
	margin-top: 1.5em;

	@include boxShadow;

	.marker {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			outline: solid $whiteColor 3px;
		}
	}
}
