@use 'sass:color';

@import '../../styles/configs/globals';

.mobile {
	&-menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: color.adjust($blackColor, $lightness: 2.5%);
		transition: bottom 0.5s ease;
		z-index: 10;

		> ul {
			display: flex;
			min-height: 87.5px;

			> li {
				flex: 1;
				display: flex;
				justify-content: center;
				align-self: center;
				height: 100%;

				> a,
				> button {
					@include smoothTrans;
					padding: 0.375em;

					&:hover {
						color: $thirdColor;
					}
				}

				&:not(:last-child) {
					border-right: 1px solid rgba($thirdColor, 0.25);
				}
			}
		}

		&-container {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 11;

			&-overlay {
				background: rgba($thirdColor, 0.5);
				position: fixed;
				top: 0;
				left: 0;
				height: 85px;
				z-index: 0;
				width: 100%;
			}

			.hamburger {
				border: none;
				font-size: 1.5rem;
				cursor: pointer;
				padding: 0.625em 0.875em;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 13;
				background: color.adjust($blackColor, $lightness: 2.5%);
				border-radius: 0 0 7.5px;
			}

			.username {
				position: fixed;
				right: 20px;
				top: 20px;

				> a {
					background: $primaryColor;
					color: color.adjust($blackColor, $lightness: 5%);
					padding: 0.25em 1em;
					font-weight: 600;
					border-radius: 5px;

					&:hover {
						opacity: 0.75;
						color: $blackColor;

						@include smoothTrans;
					}
				}
			}
		}

		&-overlay {
			background: linear-gradient(
				to bottom,
				rgba($blackColor, 0.625),
				rgba($blackColor, 0)
			);
			position: fixed;
			top: 0;
			left: 0;
			height: 100px;
			z-index: 0;
			width: 100%;
		}

		&.open {
			bottom: 0;
		}
	}
}
