@import "../customs/colors";
@import "../customs/utilities";

.prof-center {
  padding-top: 10rem;
  text-align: center !important;
  margin-bottom: -58px;
}

.imgavatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// Small devices
@media (max-width: 575.98px) {
}

// Normal devices
@media (max-width: 767.98px) {
  .prof-center {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .imgavatar {
    width: 150px;
    height: 150px;
  }

  .prof-center {
    h1 {
      font-size: 1.5em;
    }

    ul li a {
      width: 325px;
      padding: 7.5px 15px;
      font-size: 0.9em;
    }
  }
}

// Medium devices
@media (max-width: 991.98px) {
}

// Large devices
@media (max-width: 1199.98px) {
}
