@import '../../styles/configs/globals';

.carousel {
	margin-top: 3.5em;

	&-container {
		max-width: 850px;

		@include tablet {
			transform: scale(0.8);
		}
	}

	&-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), $blackColor);
		border: 2px solid $whiteColor;
		border-radius: 10px;
		padding: 30px;
		text-align: center;

		.imgavatar {
			width: 175px;
			height: 175px;
			border-radius: 50%;
			object-fit: cover;
		}

		:nth-child(2) {
			min-height: 35px;
		}

		:nth-child(3) {
			min-height: 35px;
			margin-bottom: 1em;
		}

		:nth-child(4) {
			min-height: 175px;
			margin-bottom: 1em;
			color: $whiteColor;
		}

		:nth-child(5) {
			min-height: 35px;
		}
	}
}
