@use 'sass:color';

@import '../../styles/configs/globals';

.carousel {
	margin: 2.5em 0;
	padding: 0 2em;

	&-container {
		max-width: 1150px;
	}

	&-slide {
		> div {
			background: linear-gradient(135deg, rgba(0 0 0 / 50%), $blackColor);
			border: 2px solid $whiteColor;
			border-radius: 12.5px;
			padding: 1.25em;
			text-align: center;
			position: relative;

			display: flex;
			flex-direction: column;
			align-items: center;

			@include mobile {
				padding: 1em;
			}

			> .avatar {
				width: 112.5px;
				height: 112.5px;
				border-radius: 50%;
				object-fit: cover;
				border: 3px solid $whiteColor;
				overflow: hidden;

				margin: 1em 0 1.5em;

				@include mobile {
					width: 100px;
					height: 100px;
				}
			}

			> .profile {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;

				margin-bottom: 0.25em;
			}

			> .occupate {
				font-size: 0.75rem;
				color: #2eb4e9;

				margin-bottom: 1.75em;
			}

			> .biography {
				min-height: 150px;
				margin-bottom: 1.75em;

				> p {
					font-size: 0.75rem;
					color: color.adjust($whiteColor, $lightness: -25%);
					padding: 0 0.25em;

					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					-webkit-line-clamp: 6;
				}
			}

			> .url {
				font-size: 0.875rem;
				text-transform: lowercase;
				max-width: 100%;
				border: 1px solid $transColor;

				> a {
					display: block;

					background: rgba($ashColor, 0.5);
					padding: 0.5em 1em;
					border-radius: 5px;
					color: $whiteColor;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@include smoothTrans;

					span {
						&:nth-child(1) {
							color: $secondaryColor;
						}

						&:nth-child(2) {
							color: $whiteColor;
						}

						&:nth-child(3) {
							color: $primaryColor;
							margin: 0 0 0 0.25em;
						}
					}

					&:hover {
						background: rgba($ashColor, 0.75);
					}
				}
			}
		}
	}
}
