@use "./customs" as *;

.algolia {
    .ais {
        &-SearchBox {
            width: rem-calc(237.5);

            &-form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            &-input {
                background: $white-color;
                border: none;
                padding: rem-calc(8 15);
                color: $black-color;
                caret-color: $primary-color;

                @include box-shadow;
                @include border-radius(3);

                &::placeholder {
                    font-size: rem-calc(14);
                    color: $third-color;
                }

                &:focus {
                    outline: 2px solid $secondary-color;
                    z-index: 14;

                    &::placeholder {
                        color: transparent;
                    }
                }

                &::-webkit-search-cancel-button {
                    filter: invert(64%) sepia(90%) saturate(334%)
                        hue-rotate(0deg) brightness(82%) contrast(96%);
                    cursor: pointer;
                }
            }

            &-submit,
            &-reset {
                display: none;
            }
        }

        &-Hits {
            position: absolute;
            top: 100%;
            width: 100%;
            right: 0;
            z-index: 14;

            @include border-radius(0 0 10 10);
        }

        &-InstantSearch,
        &-Hits-list {
            display: flex;
            flex-direction: column;
        }

        &-Hits-item {
            background: linear-gradient(
                    to left,
                    rgba(14 14 14 / 87.5%),
                    $black-color
                )
                no-repeat 0 0 / cover;
            padding: rem-calc(20);

            article {
                display: flex;
                gap: rem-calc(16);

                img {
                    width: rem-calc(100);
                    height: rem-calc(100);
                    object-fit: cover;

                    @include border-radius;
                }

                .hit {
                    &-content {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: rem-calc(2);

                        mark {
                            color: $primary-color;
                        }
                    }

                    &-occupate {
                        font-size: rem-calc(14);
                        color: $secondary-color;
                    }

                    &-biography {
                        font-size: rem-calc(14);
                        color: $grey-light-color;
                        max-width: 70ch;

                        @include clamp(1);
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $ash-color;
            }
        }
    }

    .no-results {
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        z-index: 14;
        background: linear-gradient(
                to left,
                rgba(14 14 14 / 87.5%),
                $black-color
            )
            no-repeat 0 0 / cover;
        padding: rem-calc(20);
        text-align: center;

        @include border-radius(0 0 10 10);

        p q {
            color: $grey-light-color;
        }
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black-color, 0.5);
        z-index: 7;
    }
}

.mobile-search {
    position: fixed;
    top: rem-calc(15);
    left: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: rem-calc(75);
    padding-right: rem-calc(20);

    > i {
        color: $primary-color;
        background: $white-color;
        height: rem-calc(44);
        width: rem-calc(44);
        display: flex;
        align-items: center;
        justify-content: center;

        @include border-radius;
    }

    &.open {
        > i {
            @include border-radius(5 0 0 5);
        }

        .algolia {
            width: 100%;

            .ais {
                &-Hits {
                    position: fixed;
                    top: auto;
                    border-radius: 0;
                    margin-top: rem-calc(24);
                    border-top: 2px solid $third-color;
                    border-bottom: 2px solid $third-color;
                }

                &-SearchBox {
                    width: 100%;

                    &-input {
                        box-shadow: none;
                        height: rem-calc(44);

                        @include border-radius(0 5 5 0);

                        &:focus {
                            outline: none;

                            &::placeholder {
                                color: revert;
                            }
                        }
                    }
                }
            }

            .no-results {
                position: fixed;
                top: auto;
                margin-top: rem-calc(24);
                border-radius: 0;
                border-top: 2px solid $third-color;
                border-bottom: 2px solid $third-color;

                p q {
                    color: $grey-light-color;
                }
            }
        }
    }

    & + #ads-username {
        z-index: 13;
    }

    &.open + #ads-username {
        z-index: 11;
    }

    @include mobile {
        &.open + #ads-username {
            opacity: 0.1;
        }
    }
}
