@use "./customs" as *;

#iphone {
    &-frame {
        position: sticky;
        border: solid rgb(0 0 0 / 50%) 10px;
        top: rem-calc(150);
        margin: rem-calc(16);
        width: rem-calc(275);
        height: rem-calc(560);

        @include box-shadow;
        @include border-radius(37.5);

        @include mobile {
            width: rem-calc(330);
            height: rem-calc(675);

            @include border-radius(45, false);
        }
    }

    &-mail,
    &-telephone {
        position: absolute;
        z-index: 1;
        top: rem-calc(77.5);

        @include mobile {
            top: rem-calc(95);
        }
    }

    &-mail {
        left: rem-calc(32.5);

        @include mobile {
            left: rem-calc(50);
        }
    }

    &-telephone {
        right: rem-calc(32.5);

        @include mobile {
            right: rem-calc(50);
        }
    }

    &-avatar {
        position: absolute;
        object-fit: cover;
        border: solid $white-color 3px;
        z-index: 1;
        top: rem-calc(47.5);
        left: 50%;
        transform: translate(-50%);
        width: rem-calc(80);
        height: rem-calc(80);

        @include border-radius(50%);

        @include mobile {
            width: rem-calc(112.5);
            height: rem-calc(112.5);
        }
    }

    &-username {
        position: absolute;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        top: rem-calc(152.5);
        left: 50%;
        transform: translate(-50%);
        width: rem-calc(167.5);
        font-size: rem-calc(14);

        @include ellipsis;

        @include mobile {
            top: rem-calc(195);
            width: rem-calc(225);
        }
    }

    &-occupate {
        position: absolute;
        top: rem-calc(180);
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        text-align: center;
        width: fit-content;
        font-size: rem-calc(9);
        padding: rem-calc(3 7.5);
        white-space: nowrap;
        z-index: 1;
        opacity: 0.75;

        @include border-radius(4);

        @include mobile {
            top: rem-calc(225);
        }
    }

    &-biography {
        position: absolute;
        text-align: center;
        overflow-wrap: break-word;
        margin: 0 auto;
        font-size: rem-calc(11);
        z-index: 1;
        top: rem-calc(225);
        left: 50%;
        transform: translateX(-50%);
        width: rem-calc(225);
        max-width: 25ch;

        @include clamp(2);

        @include mobile {
            -webkit-line-clamp: 3;
            top: rem-calc(275);
            width: rem-calc(250);
        }
    }

    &-links {
        position: absolute;
        top: rem-calc(280);
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 82.5%;

        @include mobile {
            top: rem-calc(350);
            width: rem-calc(250);
        }

        > li {
            margin: rem-calc(4 0);

            > a {
                text-align: center;
                display: inline-block;
                width: 100%;
                padding: rem-calc(2 24);

                @include border-radius(3, false);
                @include ellipsis;
                @include fluid-type(11, 14);

                &:hover {
                    opacity: 0.75;
                }

                @include mobile {
                    padding: rem-calc(4 16);
                }
            }
        }
    }

    &-icons {
        position: absolute;
        display: flex;
        gap: rem-calc(12);
        top: rem-calc(490);
        left: 50%;
        transform: translate(-50%);
        z-index: 1;

        @include mobile {
            top: rem-calc(600);
        }

        &:nth-child(n) {
            @include fluid-type(16, 20);

            a:hover {
                opacity: 0.75;
            }
        }

        & > * {
            display: none;
        }

        & > :nth-child(-n + 7) {
            display: block;
        }
    }

    &-bg {
        position: relative;
        height: 100%;
    }
}
