@use 'sass:color';

@import './configs/globals';

// ---------------------------------------------------------------------------------------- // USERNAME

.ads-user {
	position: absolute;
	top: 15px;
	right: 25%;

	transform: translateX(75%);

	@include phablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0 1em;
		right: initial;
		transform: none;
	}

	> a {
		&:nth-of-type(1) {
			margin-right: 1em;

			&:hover {
				opacity: 0.75;

				@include smoothTrans;
			}
		}

		&:nth-of-type(2) {
			background: $primaryColor;
			color: color.adjust($blackColor, $lightness: 5%);
			padding: 0.25em 1em;
			font-weight: 600;
			border-radius: 5px;

			&:hover {
				opacity: 0.75;
				color: $blackColor;

				@include smoothTrans;
			}
		}
	}
}

.theme {
	&-avatar-contact {
		margin: 0 auto 2em;
		max-width: 300px;
		position: relative;

		@include mobile {
			max-width: 237.5px;
		}

		.theme {
			&-email,
			&-telephone {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				> i {
					&:hover {
						opacity: 0.75;
					}
				}
			}

			&-email {
				left: 0;
			}

			&-telephone {
				right: 0;
			}
		}

		> img {
			width: 175px;
			height: 175px;
			border-radius: 50%;
			border: 3px solid $whiteColor;
			object-fit: cover;
			overflow: hidden;

			@include mobile {
				width: 125px;
				height: 125px;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW
	&-geel {
		background: linear-gradient(to bottom, yellow, black);

		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: black;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: #dddddd;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: white;
				color: black;
				border: 1px solid yellow;
				box-shadow: 1px 3px 5px rgba(55, 55, 55, 0.767);
			}
		}

		&-location {
			color: yellow;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(yellow, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: yellow;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
	&-grijs {
		background: linear-gradient(to bottom, grey, white);

		@include pageTheme;

		&-username {
			color: #595959;

			@include pageUsername;
		}

		&-occupate {
			color: #595959;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: white;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: rgba(255, 255, 255, 0.797);
				color: #878787;
				border: 1px solid #878787;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
			}
		}

		&-location {
			color: #878787;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(#878787, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: grey;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // PINK PINK PINK
	&-roze {
		background: linear-gradient(to bottom, pink, grey);

		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: grey;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: white;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: #a8a8a8;
				color: white;
				border: 1px solid white;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
			}
		}

		&-location {
			color: #a8a8a8;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(white, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: pink;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK
	&-zwart {
		background: linear-gradient(to bottom, black, grey);

		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: black;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: white;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: #878787;
				color: white;
				border: 2px solid white;
				box-shadow: 1px 3px 5px rgba(49, 49, 49, 0.767);
			}
		}

		&-location {
			color: white;

			> a {
				&:hover {
					text-decoration-color: #878787 !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(white, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: white;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // BRUIN BRUIN BRUIN
	&-bruin {
		background: linear-gradient(to bottom, brown, white);

		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: white;
			background-color: brown;

			@include pageOccupation;
		}

		&-biography {
			color: #e0e0e0;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: white;
				color: brown;
				border: 1px solid brown;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
			}
		}

		&-location {
			color: brown;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(brown, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: brown;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // GROEN GROEN GROEN
	&-groen {
		background: linear-gradient(to bottom, green, white);

		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: green;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: #ededed;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: white;
				color: green;
				border: 1px solid green;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
			}
		}

		&-location {
			color: green;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(green, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: green;
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // ADS THEME ADS THEME
	&-afrotheme {
		background: linear-gradient(to bottom, #e6541b, black);
		@include pageTheme;

		&-username {
			color: white;

			@include pageUsername;
		}

		&-occupate {
			color: black;
			background-color: white;

			@include pageOccupation;
		}

		&-biography {
			color: #e0e0e0;

			@include pageBiography;
		}

		&-links {
			@include pageLinks;

			> li > a {
				background: white;
				color: black;
				border: 1px solid #e6541b;
			}
		}

		&-location {
			color: #e6541b;

			> a {
				&:hover {
					text-decoration-color: white !important;
				}
			}

			@include pageLocation;
		}

		&-maps {
			outline: 3px solid rgba(#e6541b, 75%);
		}

		&-icons {
			@include pageSocials;

			> a {
				color: #e6541b;
			}
		}
	}

	&-footer {
		> img {
			max-width: 100px;
			position: absolute;
			left: 50%;
			bottom: 1em;
			transform: translateX(-50%);

			@include mobile {
				max-width: 87.5px;
			}
		}
	}
}
