@use "sass:color";
@use "sass:map";

@use "./customs" as *;

// ---------------------------------------------------------------------------------------- // USERNAME

.ads {
    &-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem-calc(0 16);
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);

        @include container(rem-calc(16), rem-calc(16));

        @include phablet {
            justify-content: flex-end;
        }

        > button {
            margin-right: rem-calc(24);
            margin-left: auto;

            @include smooth-trans;

            @include phablet {
                margin-left: unset;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        > a {
            &:nth-of-type(1) {
                margin-right: rem-calc(32);
                font-weight: 500;

                @include smooth-trans;

                &:hover {
                    opacity: 0.75;
                }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            &:nth-of-type(2) {
                background: $primary-color;
                color: color.adjust($black-color, $lightness: 5%);
                padding: rem-calc(4 16);
                font-weight: 600;

                @include border-radius;
                @include smooth-trans;

                &:hover {
                    opacity: 0.75;
                    color: $black-color;
                }
            }
        }
    }
}

.theme {
    &-avatar-contact {
        margin-bottom: rem-calc(32);
        max-width: rem-calc(237.5);
        position: relative;

        @include mobile {
            max-width: rem-calc(300);
        }

        .theme {
            &-email,
            &-telephone {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                > i {
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }

            &-email {
                left: rem-calc(-62.5);
            }

            &-telephone {
                right: rem-calc(-62.5);
            }
        }

        > img {
            width: rem-calc(125);
            height: rem-calc(125);
            border: 3px solid $white-color;
            object-fit: cover;

            @include border-radius(50%);

            @include mobile {
                width: rem-calc(175);
                height: rem-calc(175);
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW
    &-geel {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "yellow"), "primary"),
            map.get(map.get($themes, "yellow"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "yellow"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "yellow"), "secondary");
            background-color: map.get(map.get($themes, "yellow"), "tertiary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "yellow"), "tertiary"),
                $alpha: -0.125
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "yellow"), "tertiary");
                color: map.get(map.get($themes, "yellow"), "secondary");
                border: 1px solid map.get(map.get($themes, "yellow"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "yellow"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "yellow"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "yellow"),
                        "tertiary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "yellow"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "yellow"), "primary");
            }
        }

        + .ads-user {
            > a:nth-of-type(1) {
                color: map.get(map.get($themes, "yellow"), "secondary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
    &-grijs {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "grey"), "primary"),
            map.get(map.get($themes, "grey"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "grey"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "grey"), "tertiary");
            background-color: map.get(map.get($themes, "grey"), "secondary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "grey"), "tertiary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: color.adjust(
                    map.get(map.get($themes, "grey"), "secondary"),
                    $alpha: -0.25
                );
                color: map.get(map.get($themes, "grey"), "primary");
                border: 1px solid map.get(map.get($themes, "grey"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "grey"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "grey"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "grey"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "grey"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "grey"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // PINK PINK PINK
    &-roze {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "pink"), "primary"),
            map.get(map.get($themes, "pink"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "pink"), "secondary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "pink"), "tertiary");
            background-color: map.get(map.get($themes, "pink"), "secondary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "pink"), "secondary"),
                $alpha: -0.125
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "pink"), "tertiary");
                color: map.get(map.get($themes, "pink"), "secondary");
                border: 1px solid map.get(map.get($themes, "pink"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "pink"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "pink"), "tertiary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "pink"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "pink"), "secondary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "pink"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK
    &-zwart {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "black"), "primary"),
            map.get(map.get($themes, "black"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "black"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "black"), "primary");
            background-color: map.get(map.get($themes, "black"), "tertiary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "black"), "tertiary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "black"), "secondary");
                color: map.get(map.get($themes, "black"), "tertiary");
                border: 2px solid map.get(map.get($themes, "black"), "tertiary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "black"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "black"), "tertiary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "black"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "black"), "tertiary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "black"), "tertiary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // BRUIN BRUIN BRUIN
    &-bruin {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "brown"), "primary"),
            map.get(map.get($themes, "brown"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "brown"), "secondary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "brown"), "secondary");
            background-color: map.get(map.get($themes, "brown"), "primary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "brown"), "secondary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "brown"), "secondary");
                color: map.get(map.get($themes, "brown"), "primary");
                border: 1px solid map.get(map.get($themes, "brown"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "brown"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "brown"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "brown"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "brown"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "brown"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // GROEN GROEN GROEN
    &-groen {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "green"), "primary"),
            map.get(map.get($themes, "green"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "green"), "secondary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "green"), "primary");
            background-color: map.get(map.get($themes, "green"), "secondary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "green"), "secondary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "green"), "secondary");
                color: map.get(map.get($themes, "green"), "primary");
                border: 1px solid map.get(map.get($themes, "green"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "green"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "green"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "green"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "green"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "green"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // ADS THEME ADS THEME
    &-afrotheme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "afro"), "primary"),
            map.get(map.get($themes, "afro"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "afro"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "afro"), "secondary");
            background-color: map.get(map.get($themes, "afro"), "tertiary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "afro"), "tertiary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "afro"), "tertiary");
                color: map.get(map.get($themes, "afro"), "secondary");
                border: 1px solid map.get(map.get($themes, "afro"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "afro"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "afro"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "afro"),
                        "tertiary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "afro"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "afro"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // ORANJE ORANJE ORANJE
    &-oranje {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "orange"), "primary"),
            map.get(map.get($themes, "orange"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "orange"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "orange"), "secondary");
            background-color: map.get(map.get($themes, "orange"), "tertiary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "orange"), "tertiary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "orange"), "tertiary");
                color: map.get(map.get($themes, "orange"), "secondary");
                border: 1px solid
                    map.get(map.get($themes, "orange"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "orange"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "orange"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "orange"),
                        "tertiary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "orange"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "orange"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // ROOD ROOD ROOD
    &-rood {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "red"), "primary"),
            map.get(map.get($themes, "red"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "red"), "tertiary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "red"), "secondary");
            background-color: map.get(map.get($themes, "red"), "tertiary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "red"), "tertiary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "red"), "tertiary");
                color: map.get(map.get($themes, "red"), "secondary");
                border: 1px solid map.get(map.get($themes, "red"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "red"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "red"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "red"),
                        "tertiary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "red"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "red"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // BLAUW BLAUW BLAUW
    &-blauw {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "blue"), "primary"),
            map.get(map.get($themes, "blue"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "blue"), "secondary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "blue"), "tertiary");
            background-color: map.get(map.get($themes, "blue"), "secondary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "blue"), "secondary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "blue"), "secondary");
                color: map.get(map.get($themes, "blue"), "primary");
                border: 1px solid map.get(map.get($themes, "blue"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "blue"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "blue"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "blue"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "blue"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "blue"), "primary");
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // PAARS PAARS PAARS
    &-paars {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "purple"), "primary"),
            map.get(map.get($themes, "purple"), "secondary")
        );

        @include page-theme;

        &-username {
            color: map.get(map.get($themes, "purple"), "secondary");

            @include page-username;
        }

        &-occupate {
            color: map.get(map.get($themes, "purple"), "tertiary");
            background-color: map.get(map.get($themes, "purple"), "secondary");

            @include page-occupation;
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "purple"), "secondary"),
                $alpha: -0.25
            );

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: map.get(map.get($themes, "purple"), "secondary");
                color: map.get(map.get($themes, "purple"), "primary");
                border: 1px solid map.get(map.get($themes, "purple"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "purple"), "shadow");
            }
        }

        &-location {
            color: map.get(map.get($themes, "purple"), "primary");

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: map.get(
                        map.get($themes, "purple"),
                        "secondary"
                    );
                }
            }
        }

        &-maps {
            outline: 3px solid
                color.adjust(
                    map.get(map.get($themes, "purple"), "primary"),
                    $alpha: -0.25
                );
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: map.get(map.get($themes, "purple"), "primary");
            }
        }
    }

    &-footer {
        > img {
            max-width: rem-calc(87.5);
            position: absolute;
            left: 50%;
            bottom: rem-calc(16);
            transform: translateX(-50%);

            @include mobile {
                max-width: rem-calc(100);
            }
        }
    }
}
