@use "sass:color";

@use "./customs" as *;

// ---------------------------------------------------------------------------------------- // USERNAME

.ads {
    &-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem-calc(0 16);
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);

        @include container(rem-calc(16), rem-calc(16));

        @include phablet {
            justify-content: flex-end;
        }

        > button {
            margin-right: rem-calc(24);
            margin-left: auto;

            @include smooth-trans;

            @include phablet {
                margin-left: unset;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        > a {
            &:nth-of-type(1) {
                margin-right: rem-calc(32);

                @include smooth-trans;

                &:hover {
                    opacity: 0.75;
                }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            &:nth-of-type(2) {
                background: $primary-color;
                color: color.adjust($black-color, $lightness: 5%);
                padding: rem-calc(4 16);
                font-weight: 600;

                @include border-radius;
                @include smooth-trans;

                &:hover {
                    opacity: 0.75;
                    color: $black-color;
                }
            }
        }
    }
}

.theme {
    &-avatar-contact {
        margin-bottom: rem-calc(32);
        max-width: rem-calc(237.5);
        position: relative;

        @include mobile {
            max-width: rem-calc(300);
        }

        .theme {
            &-email,
            &-telephone {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                > i {
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }

            &-email {
                left: rem-calc(-62.5);
            }

            &-telephone {
                right: rem-calc(-62.5);
            }
        }

        > img {
            width: rem-calc(125);
            height: rem-calc(125);
            border: 3px solid $white-color;
            object-fit: cover;

            @include border-radius(50%);

            @include mobile {
                width: rem-calc(175);
                height: rem-calc(175);
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW
    &-geel {
        background: linear-gradient(to bottom, yellow, black);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: black;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: #ddd;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: white;
                color: black;
                border: 1px solid yellow;
                box-shadow: 1px 3px 5px rgb(55 55 55 / 76.7%);
            }
        }

        &-location {
            color: yellow;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgb(255 255 0 / 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: yellow;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
    &-grijs {
        background: linear-gradient(to bottom, grey, white);

        @include page-theme;

        &-username {
            color: #595959;

            @include page-username;
        }

        &-occupate {
            color: #595959;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: white;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: rgb(255 255 255 / 79.7%);
                color: #878787;
                border: 1px solid #878787;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-location {
            color: #878787;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgba(#878787, 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: grey;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // PINK PINK PINK
    &-roze {
        background: linear-gradient(to bottom, pink, grey);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: grey;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: white;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: #a8a8a8;
                color: white;
                border: 1px solid white;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-location {
            color: #a8a8a8;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgb(255 255 255 / 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: pink;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK
    &-zwart {
        background: linear-gradient(to bottom, black, grey);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: black;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: white;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: #878787;
                color: white;
                border: 2px solid white;
                box-shadow: 1px 3px 5px rgb(49 49 49 / 76.7%);
            }
        }

        &-location {
            color: white;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: #878787 !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgb(255 255 255 / 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: white;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // BRUIN BRUIN BRUIN
    &-bruin {
        background: linear-gradient(to bottom, brown, white);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: white;
            background-color: brown;

            @include page-occupation;
        }

        &-biography {
            color: #e0e0e0;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: white;
                color: brown;
                border: 1px solid brown;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-location {
            color: brown;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgb(165 42 42 / 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: brown;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // GROEN GROEN GROEN
    &-groen {
        background: linear-gradient(to bottom, green, white);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: green;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: #ededed;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: white;
                color: green;
                border: 1px solid green;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-location {
            color: green;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgb(0 128 0 / 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: green;
            }
        }
    }

    // ---------------------------------------------------------------------------------------- // ADS THEME ADS THEME
    &-afrotheme {
        background: linear-gradient(to bottom, #e6541b, black);

        @include page-theme;

        &-username {
            color: white;

            @include page-username;
        }

        &-occupate {
            color: black;
            background-color: white;

            @include page-occupation;
        }

        &-biography {
            color: #e0e0e0;

            @include page-biography;
        }

        &-links {
            @include page-links;

            /* stylelint-disable-next-line no-descending-specificity */
            > li > a {
                background: white;
                color: black;
                border: 1px solid #e6541b;
            }
        }

        &-location {
            color: #e6541b;

            @include page-location;

            > a {
                /* stylelint-disable-next-line no-descending-specificity */
                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }

        &-maps {
            outline: 3px solid rgba(#e6541b, 75%);
        }

        &-icons {
            @include page-socials;

            /* stylelint-disable-next-line no-descending-specificity */
            > a {
                color: #e6541b;
            }
        }
    }

    &-footer {
        > img {
            max-width: rem-calc(87.5);
            position: absolute;
            left: 50%;
            bottom: rem-calc(16);
            transform: translateX(-50%);

            @include mobile {
                max-width: rem-calc(100);
            }
        }
    }
}
