@import '../styles/configs/globals';

.mobile-search {
	position: fixed;
	top: 15px;
	left: 87.5px;
	z-index: 12;
	display: flex;
	align-items: center;

	&.open {
		> i {
			border-radius: 5px 0 0 5px;
		}

		input {
			border-radius: 0 5px 5px 0;
			box-shadow: none;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		.ais-Hits {
			position: fixed;
			top: auto;
			margin-top: 1.5em;
			border-radius: 0;
		}
	}

	> i {
		color: $primaryColor;
		background: #fcfcfc;
		border-radius: 5px;
		padding: 0.9375em 0.5em;
	}

	@include mobile {
		&.open + #ads-username {
			opacity: 0.1;
		}
	}
}

.ais {
	&-SearchBox {
		width: 200px;

		&-form {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		&-input {
			background: $whiteColor;
			border: none;
			padding: 10px 15px;
			border-radius: 3px;
			color: $blackColor;

			@include boxShadow;

			&::placeholder {
				font-size: 0.875rem;
				color: $thirdColor;
			}

			&:focus {
				outline: 2px solid $secondaryColor;

				&::placeholder {
					color: transparent;
				}
			}

			&::-webkit-search-cancel-button {
				filter: invert(64%) sepia(90%) saturate(334%) hue-rotate(0deg)
					brightness(82%) contrast(96%);
				cursor: pointer;
			}
		}

		&-submit,
		&-reset {
			display: none;
		}
	}

	&-Hits {
		position: absolute;
		top: 100%;
		width: 100%;
		right: 0;
		z-index: 100;
		border-radius: 0 0 10px 10px;
		overflow: hidden;
	}

	&-InstantSearch,
	&-Hits-list {
		display: flex;
		flex-direction: column;
	}

	&-Hits-item {
		background: linear-gradient(to left, rgba(14 14 14 / 87.5%), $blackColor)
			no-repeat 0 0 / cover;
		padding: 1.25em;

		article {
			display: flex;
			gap: 1em;

			img {
				width: 100px;
				height: 100px;
				object-fit: cover;
				overflow: hidden;
				border-radius: 5px;
			}

			.hit {
				&-content {
					flex: 1;

					mark {
						color: $primaryColor;
					}
				}

				&-profiel {
					margin-bottom: 0.175em;
				}

				&-occupate {
					font-size: 0.875rem;
					color: $secondaryColor;
					margin-bottom: 0.175em;
				}

				&-biografie {
					font-size: 0.875rem;
					color: #bcbcbc;
					max-width: 85%;

					@include mobile {
						max-width: 100%;
					}

					@include clamp(2);
				}
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid $whiteColor;
		}
	}
}
