// FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

p {
  font-size: 16px;
}

body {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: black;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 0;
}

// #page-container {
//   position: relative;
//   min-height: 100vh;
// }

// #content-wrap {
//   padding-bottom: 2.5rem; /* Footer height */
//   padding-top: 2.5rem; /* Footer height */
// }

// #footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 2.5rem; /* Footer height */
// }

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// Small devices
@media (max-width: 575.98px) {
}

// Normal devices
@media (max-width: 767.98px) {
}

// Medium devices
@media (max-width: 991.98px) {
}

// Large devices
@media (max-width: 1199.98px) {
}
