// FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

input {
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, grey, #0e0e0e);
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  padding: 10px 0;
}

// Landscape view
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
}

// small devices
@media (max-width: 40em) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

// large devices
@media (max-width: 64em) {
}
