@use "./customs" as *;
@use "preview";
@use "algolia";
@use "typography";

body {
    font-size: 16px;
    font-family: $poppins;
    background: linear-gradient(135deg, $third-color, $black-color);
    color: $white-color;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;

    @media (width <= 319px) {
        display: none;
    }
}

main {
    @include tablet {
        position: relative;
    }
}

button {
    cursor: pointer;
    line-height: 1.6;
}

input {
    font-family: $poppins;
    font-size: 16px;
    width: 100%;
}

input,
textarea,
select {
    &::placeholder {
        color: rgba(255 255 255 / 50%);

        @include smooth-trans;
    }
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(#fff, 0.5);
    color: black;
    padding: 0.25em 0.5em;
    z-index: 1000;
    font-weight: bold;
    text-align: center;

    p {
        font-size: 14px;
        font-weight: bold;
    }
}
