@use "./customs" as *;
@use "preview";
@use "algolia";
@use "typography";

html {
    &:has(.mobile-search.open, #spinner) {
        overflow: hidden;
    }
}

body {
    font-family: $poppins;
    background: linear-gradient(135deg, $third-color, $black-color);
    color: $white-color;
    position: relative;
    padding-bottom: rem-calc(56);
    min-height: 100vh;
    min-width: rem-calc(320);
}

main {
    position: relative;
    margin-bottom: rem-calc(36);
}

button {
    cursor: pointer;
    line-height: 1.6;
}

input,
textarea,
select {
    width: 100%;

    &::placeholder {
        color: rgb(255 255 255 / 50%);

        @include smooth-trans;
    }
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(#fff, 0.25);
    color: black;
    padding: rem-calc(4 8);
    z-index: 1000;
    text-align: center;

    p {
        font-size: rem-calc(14);
    }
}
