@import './configs/globals';

.theme {
	// ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW
	&-geel {
		background: linear-gradient(to bottom, yellow, black);

		@include pageTheme;

		h1 {
			color: white;
		}

		p:nth-of-type(1) {
			color: black;
			background-color: white;

			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: #dddddd;

			@include pageBiography;
		}

		&-links {
			a {
				background: white;
				color: black;
				border: 1px solid yellow;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(55, 55, 55, 0.767);

				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: yellow;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
	&-grijs {
		background: linear-gradient(to bottom, grey, white);
		@include pageTheme;

		h1 {
			color: #595959;
		}

		p:nth-of-type(1) {
			color: #595959;
			background-color: white;
			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: white;
			@include pageBiography;
		}

		&-links {
			a {
				background: rgba(255, 255, 255, 0.797);
				color: #878787;
				border: 1px solid #878787;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: grey;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // PINK PINK PINK
	&-roze {
		background: linear-gradient(to bottom, pink, grey);
		@include pageTheme;

		h1 {
			color: white;
		}

		p:nth-of-type(1) {
			color: grey;
			background-color: white;
			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: white;
			@include pageBiography;
		}

		&-links {
			a {
				background: #a8a8a8;
				color: white;
				border: 1px solid white;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: pink;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK
	&-zwart {
		background: linear-gradient(to bottom, black, grey);
		@include pageTheme;

		> h1 {
			color: white;
		}

		> p:nth-of-type(1) {
			color: black;
			background-color: white;
			@include pageOccupation;
		}

		> p:nth-of-type(2) {
			color: white;
			@include pageBiography;
		}

		&-links {
			> a {
				background: #878787;
				color: white;
				border: 2px solid white;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(49, 49, 49, 0.767);
				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			> a {
				color: white;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // BRUIN BRUIN BRUIN
	&-bruin {
		background: linear-gradient(to bottom, brown, white);
		@include pageTheme;

		h1 {
			color: white;
		}

		p:nth-of-type(1) {
			color: white;
			background-color: brown;
			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: #e0e0e0;
			@include pageBiography;
		}

		&-links {
			a {
				background: white;

				color: brown;
				border: 1px solid brown;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: brown;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // GROEN GROEN GROEN
	&-groen {
		background: linear-gradient(to bottom, green, white);
		@include pageTheme;

		h1 {
			color: white;
		}

		p:nth-of-type(1) {
			color: green;
			background-color: white;
			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: #ededed;
			@include pageBiography;
		}

		&-links {
			a {
				background: white;

				color: green;
				border: 1px solid green;
				border-radius: 3px;
				box-shadow: 1px 3px 5px rgba(167, 167, 167, 0.767);
				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: green;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	// ---------------------------------------------------------------------------------------- // ADS THEME ADS THEME
	&-afrotheme {
		background: linear-gradient(to bottom, #e6541b, black);
		@include pageTheme;

		h1 {
			color: white;
		}

		p:nth-of-type(1) {
			color: black;
			background-color: white;
			@include pageOccupation;
		}

		p:nth-of-type(2) {
			color: #e0e0e0;
			@include pageBiography;
		}

		&-links {
			a {
				background: white;

				color: black;
				border: 1px solid #e6541b;
				border-radius: 3px;

				@include pageLinks;
			}
		}

		&-icons {
			@include pageSocials;

			a {
				color: #e6541b;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}

	&-footer {
		max-width: 150px;

		@include mobile {
			max-width: 100px;
		}
	}
}
