@use "../../customs" as *;

.address {
    input {
        padding: rem-calc(16);
        background: linear-gradient(135deg, #1a1a1a, $black-color);
        font-size: rem-calc(14);
        min-height: rem-calc(50);
        margin: rem-calc(24 0 8);

        @include border-radius;
    }

    p {
        margin: rem-calc(8 0);
        font-size: rem-calc(14);
        color: $error-color;
    }
}
