@use "../../customs" as *;

.ads {
    &-link {
        text-align: center;
        font-size: rem-calc(12);

        @include box-shadow;
    }

    &-prefix {
        float: left;
        width: 50%;
        border: 3px solid $white-color;
        color: $ash-color;
        background: $white-color;
        padding: rem-calc(7.5);

        @include border-radius(10 0 0 10);

        @include phablet {
            color: $white-color;
            background: $primary-color;
            border-color: $primary-color;
            padding: rem-calc(10);
        }
    }

    &-slug {
        float: right;
        border: 3px solid $black-color;
        width: 50%;
        background-color: $black-color;
        padding: rem-calc(7.5);

        @include border-radius(0 10 10 0);

        @include phablet {
            color: $black-color;
            border-color: $primary-color;
            padding: rem-calc(10);
        }

        > a {
            display: block;
            max-width: 100%;
            color: $primary-color;
            text-transform: lowercase;

            @include ellipsis;

            span {
                &:nth-child(1) {
                    color: $secondary-color;
                }

                &:nth-child(2) {
                    color: $white-color;
                }

                &:nth-child(3) {
                    margin: rem-calc(0 0 0 4);
                }
            }

            &:hover {
                opacity: 0.75;
            }
        }
    }
}
