@use "../../customs" as *;

.ads {
    &-link {
        text-align: center;
        font-size: 0.75rem;

        @include box-shadow;
    }

    &-prefix {
        border: 3px solid $primary-color;
        float: left;
        width: 50%;
        color: $white-color;
        background: $primary-color;
        padding: 10px;
        border-radius: 10px 0 0 10px;

        @include phablet {
            color: $ash-color;
            background: $white-color;
            border-color: $white-color;
            padding: 7.5px;
        }
    }

    &-slug {
        border: 3px solid $primary-color;
        float: right;
        width: 50%;
        background-color: $black-color;
        padding: 10px;
        border-radius: 0 10px 10px 0;

        @include phablet {
            color: $black-color;
            border-color: $black-color;
            padding: 7.5px;
        }

        > a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            color: $primary-color;
            text-transform: lowercase;

            span {
                &:nth-child(1) {
                    color: $secondary-color;
                }

                &:nth-child(2) {
                    color: $white-color;
                }

                &:nth-child(3) {
                    margin: 0 0 0 0.25em;
                }
            }

            &:hover {
                opacity: 0.75;
            }
        }
    }
}
