@import '../../configs/globals';

.avatar {
	flex: 45%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;

	@include mobile {
		gap: 1em;
	}

	input {
		display: none;
	}

	&-image {
		min-width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		background: $whiteColor;
		border: 3px solid $whiteColor;

		@include mobile {
			min-width: 125px;
			height: 125px;
		}
	}

	&-buttons {
		display: flex;
		flex-direction: column;
		gap: 1em;

		button {
			padding: 0.5em 1em;
			text-align: center;
			border-radius: 3px;

			&.add-btn {
				background-color: $whiteColor;
				color: $ashColor;
			}

			&.reset-btn {
				background-color: $errorColor;
				color: $whiteColor;
			}

			&.submit-btn {
				background-color: $secondaryColor;
				color: $whiteColor;
			}
		}
	}
}
