@use "../../customs" as *;

.avatar {
    flex: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: rem-calc(16);

    @include mobile {
        gap: rem-calc(32);
    }

    input {
        display: none;
    }

    &-image {
        width: rem-calc(125);
        height: rem-calc(125);
        object-fit: cover;
        background: $white-color;
        border: 3px solid $white-color;

        @include border-radius(50%);

        @include mobile {
            width: rem-calc(150);
            height: rem-calc(150);
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);

        button {
            padding: rem-calc(8 16);
            text-align: center;

            @include border-radius(3);

            &:disabled {
                opacity: 0.5;
                cursor: default;
            }

            &:not(:disabled):hover {
                transform: scale(0.97);
            }

            &.add-btn {
                background-color: $white-color;
                color: $ash-color;
            }

            &.reset-btn {
                background-color: $warning-color;
                color: $white-color;
            }

            &.submit-btn {
                background-color: $secondary-color;
                color: $white-color;
            }
        }
    }
}
