@use "sass:color";

@use "../../customs" as *;

.new {
    &-link {
        display: flex;
        margin-bottom: rem-calc(20);
        gap: rem-calc(32 16);
        flex-direction: column;
        align-items: flex-start;

        @include mobile {
            flex-direction: row;
            align-items: center;
        }

        &-fields {
            width: 100%;

            hr {
                background-color: #cc9932;
                height: 1px;
                margin: rem-calc(8 0);
                opacity: 0.5;
            }
        }

        &-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem-calc(16);
            width: 100%;

            @include mobile {
                width: fit-content;
            }

            > button {
                &:nth-child(1) {
                    @include dash-button($secondary-color, $white-color);
                }

                &:nth-child(2) {
                    @include dash-button($warning-color, $white-color);
                }
            }
        }
    }

    &-title,
    &-hyperlink {
        display: flex;
        gap: rem-calc(8);
        align-items: center;
        flex: 1;

        > label {
            cursor: pointer;

            > h4 > span {
                color: $primary-color;
            }
        }

        > input {
            outline: none;
            border: none;
            font-weight: 300;

            &::placeholder {
                font-size: rem-calc(14);
                opacity: 0.75;
            }

            &:focus {
                color: $secondary-color;

                &::placeholder {
                    color: transparent;
                }
            }
        }
    }
}

.link {
    display: flex;
    justify-content: space-between;
    gap: rem-calc(16);
    padding: rem-calc(12 16);
    color: $ash-color;
    background: linear-gradient(145deg, #fcfcfc, #fcfcfc, #fcfcfc, #deceae)
        no-repeat 0 0 / cover;
    outline: 2px solid $primary-color;

    @include border-radius(10);
    @include box-shadow;

    @include mobile {
        gap: rem-calc(32);
        padding: rem-calc(10 20);
    }

    &-fields {
        display: flex;
        flex-flow: column nowrap;
        gap: rem-calc(12);
        flex: 95%;

        @include mobile {
            gap: rem-calc(20);
        }

        @include laptop {
            gap: rem-calc(24);
            flex-direction: row;
        }

        > * {
            flex: 1;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
    }

    &-title,
    &-url {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem-calc(20);

        > div {
            flex: 1;

            > hr {
                width: 100%;
                background: rgba($third-color, 0.5);
                height: 1px;
                margin: rem-calc(8 0 5);
            }

            /* stylelint-disable-next-line no-descending-specificity */
            > span {
                max-width: 100%;

                > i {
                    color: $primary-color;
                }

                > a,
                > p {
                    display: block;
                    font-weight: 500;

                    @include ellipsis;
                }
            }

            > input {
                /* stylelint-disable-next-line no-descending-specificity */
                &::placeholder {
                    font-size: rem-calc(14);
                    color: $third-color;
                }

                &:focus {
                    color: $secondary-color;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        button {
            background-color: $primary-color;
            color: $white-color;
            padding: rem-calc(6 12);
            text-align: center;

            @include border-radius(3);

            &:disabled {
                opacity: 0.5;
                cursor: default;
            }

            &:not(:disabled):hover {
                transform: scale(0.97);
            }
        }
    }

    &-url {
        > div {
            /* stylelint-disable-next-line no-descending-specificity */
            > span {
                display: flex;
                gap: rem-calc(6);

                > a {
                    @include smooth-trans;

                    &:hover {
                        color: $secondary-color;
                    }
                }

                > i {
                    line-height: normal;
                }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            > input {
                text-transform: lowercase;
            }
        }
    }

    &-btns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: rem-calc(12);
        flex: 5%;
        border-left: 1px solid rgba($third-color, 0.5);
        padding-left: rem-calc(12);

        @include mobile {
            padding-left: rem-calc(16);
        }

        .trash-btn {
            color: $warning-color;

            @extend %dashboard-link-icons;

            &:hover {
                border-color: $warning-color;
            }
        }

        .show-btn {
            color: $ash-color;

            @extend %dashboard-link-icons;

            &:hover {
                border-color: $ash-color;
            }
        }
    }
}

.logs {
    height: rem-calc(32);
    margin: rem-calc(16 0);

    .error {
        background-color: $error-color;

        @extend %dashboard-log;
    }

    .success {
        background-color: $success-color;

        @extend %dashboard-log;
    }
}

.no-links {
    color: $ash-color;
    background-color: $white-color;
    opacity: 0.5;
    padding: rem-calc(4 32);
    margin: 0 auto;
    display: block;

    @include border-radius;

    @include box-shadow;
    @include smooth-trans;

    &:hover {
        opacity: 1;
    }
}
