@import '../../configs/globals';

.occupation {
	fieldset {
		display: flex;
		align-items: center;
		gap: 0.5em;
		flex-wrap: wrap;

		legend {
			color: $primaryColor;
			font-size: 0.75rem;
			margin-bottom: 1em;
			cursor: default;
		}
	}

	input {
		display: none;
	}

	label {
		background: linear-gradient(135deg, #1a1a1a, $blackColor);
		text-align: center;
		min-width: 100px;
		padding: 0.75em 1em;
		border: 1px $primaryColor solid;
		border-radius: 2.5px;
		cursor: pointer;

		@include boxShadow;

		&:hover {
			border-color: $secondaryColor;
		}
	}
}

.current-occupate {
	border: 1px $whiteColor solid !important;
	color: $whiteColor !important;
}
