@import '../../configs/globals';

.iphone {
	&-frame {
		position: sticky;
		overflow: hidden;
		height: 675px;
		width: 325px;
		border-radius: 50px;
		border: solid #333 10px;
		top: 150px;
		margin: 1em;

		@include mobile {
			border-radius: 37.5px;
			width: 237.5px;
			height: 500px;
		}
	}

	// &-bg {
	//   position: relative;
	//   width: 100vh;
	//   height: 100%;
	//   z-index: 1;
	// }

	&-background {
		position: relative;
		height: 100%;
		z-index: 1;
	}

	&-avatar {
		position: absolute;
		top: 10%;
		left: 30%;
		width: 125px;
		height: 125px;
		z-index: 2;
		border-radius: 50%;
		display: inline-block;
		object-fit: cover;
		overflow: hidden;
		border: solid $whiteColor 3px;

		@include mobile {
			left: 33%;
			width: 75px;
			height: 75px;
		}
	}

	&-links {
		position: absolute;
		top: 69%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 250px;
		font-size: 0.875rem;

		@include mobile {
			width: 175px;
		}

		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}
	}

	&-socials {
		position: absolute;
	}
}
