@use "../../customs" as *;

.profile {
    &-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem-calc(16);

        label {
            color: $primary-color;
            font-size: rem-calc(12);
            min-width: rem-calc(110);
            cursor: pointer;

            &::after {
                content: ":";
                color: $white-color;
                font-weight: 500;
                margin-left: rem-calc(0.25);
            }
        }

        > div {
            display: flex;
            align-items: center;
            gap: rem-calc(12);
            margin-left: auto;
        }

        input {
            color: $white-color;
            background: transparent;
            outline: none;
            border: none;
            text-align: right;

            @include smooth-trans;

            &:disabled {
                filter: blur(2px);
            }

            &:focus {
                color: $secondary-color !important;
            }
        }

        button {
            @include dash-button($type: 2);

            &.terminate-btn {
                background-color: $warning-color;
                color: $white-color;
            }

            &.update-btn {
                background-color: $secondary-color;
                color: $white-color;
            }

            &.toggle-btn {
                background: none;
                color: $grey-color;
                margin: unset;
                padding: unset;
            }
        }

        &.address {
            gap: rem-calc(24);
            flex-direction: column;

            @include mobile {
                align-items: center;
                flex-direction: row;
            }

            label {
                min-width: rem-calc(75);
            }

            > div {
                display: flex;
                margin-left: auto;
                align-items: center;
                gap: rem-calc(12);

                &:first-child {
                    flex-grow: 1;
                    width: 100%;
                }

                > button {
                    &[type="button"] {
                        background-color: $secondary-color;
                        color: $white-color;
                    }

                    &[type="reset"] {
                        background-color: $warning-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
}
