@import '../../configs/globals';

.profile {
	&-field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;

		label {
			color: $primaryColor;
			font-size: 0.75em;
			min-width: 100px;
			cursor: default;
		}

		input {
			color: $whiteColor;
			background: transparent;
			outline: none;
			border: none;
			border-radius: 1px;
			max-width: 250px;

			@include smoothTrans;

			&::placeholder {
				color: rgba(255 255 255 / 50%);
			}

			&:focus {
				color: $secondaryColor;
			}

			&:hover {
				@include smoothTrans;
			}
		}

		button {
			@include dashButton;

			&.terminate-btn {
				background-color: $errorColor;
				color: $whiteColor;
			}

			&.update-btn {
				background-color: $secondaryColor;
				color: $whiteColor;
			}
		}
	}
}
