@use "../../customs" as *;

.social {
    &-field {
        justify-content: space-between;
        align-items: center;
        display: flex;

        @include mobile {
            flex-wrap: wrap;
            gap: 1em;
        }

        div {
            display: flex;

            label {
                color: $ash-color;
                font-size: 0.75rem;
                background-color: $white-color;
                border-radius: 25px 5px 5px 25px;
                padding: 0.5em 0.75em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 145px;
                cursor: pointer;

                @include box-shadow;

                > i {
                    font-size: 1.5em;
                }
            }

            input {
                padding: 0.5em 0.75em;

                @include smooth-trans;

                &:disabled {
                    filter: blur(2px);
                }

                &:focus {
                    color: $secondary-color;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        button {
            @include dash-button;

            @include mobile {
                width: 100%;
            }
        }
    }
}
