@use "../../customs" as *;

.social {
    &-field {
        justify-content: space-between;
        align-items: center;
        display: flex;

        div {
            display: flex;
            width: 100%;

            label {
                background-color: $white-color;
                padding: rem-calc(4 8 4 10);
                display: flex;
                gap: rem-calc(2);
                justify-content: space-between;
                align-items: center;
                min-width: rem-calc(135);
                cursor: pointer;

                @include border-radius(25 4 4 25);
                @include box-shadow;

                @include mobile {
                    min-width: rem-calc(145);
                }

                > i {
                    @include fluid-type(16, 18);
                }

                > span {
                    color: $ash-color;

                    @include fluid-type(11, 12);
                }
            }

            input {
                padding: rem-calc(8 12);

                @include smooth-trans;

                &:disabled {
                    filter: blur(2px);
                }

                &:focus {
                    color: $secondary-color;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
}
