@use "../../customs" as *;

.choose {
    &-theme {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(20);
    }

    &-color {
        input {
            display: none;
        }

        .current-theme {
            border: 5px $primary-color solid;
        }
    }
}

// ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW

.yellow {
    &-style {
        background: linear-gradient(to bottom, yellow, black);

        &-username {
            color: white;
        }

        &-occupate {
            color: black;
            background-color: white;
        }

        &-biography {
            color: white;
        }

        &-links {
            a {
                background: white;
                color: black;
                border: 1px solid yellow;
                box-shadow: 1px 3px 5px rgb(55 55 55 / 75%);
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: yellow;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, yellow, black);

        @include choose-display;

        .yellowlinks {
            background: white;
            border: 1px solid yellow;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
.gray {
    &-style {
        background: linear-gradient(to bottom, grey, white);

        &-username {
            color: #595959;
        }

        &-occupate {
            color: #595959;
            background-color: white;
        }

        &-biography {
            color: white;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
                background: rgb(255 255 255 / 79.7%);
                color: #878787;
                border: 1px solid #878787;
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: grey;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, grey, white);

        @include choose-display;

        .graylinks {
            background: rgb(255 255 255 / 79.7%);
            border: 1px solid #878787;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // PINK PINK PINK
.pink {
    &-style {
        background: linear-gradient(to bottom, pink, grey);

        &-username {
            color: white;
        }

        &-occupate {
            color: grey;
            background-color: white;
        }

        &-biography {
            color: white;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
                color: white;
                background: #a8a8a8;
                border: 1px solid white;
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: pink;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, pink, grey);

        @include choose-display;

        .pinklinks {
            background: #a8a8a8;
            border: 1px solid white;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK

.black {
    &-style {
        background: linear-gradient(to bottom, black, grey);

        &-username {
            color: white;
        }

        &-occupate {
            color: black;
            background-color: white;
        }

        &-biography {
            color: white;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: #878787;
                color: white;
                border: 1px solid white;
                box-shadow: 1px 3px 5px rgb(49 49 49 / 76.7%);
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: white;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, black, grey);

        @include choose-display;

        .blacklinks {
            background: #878787;
            border: 1px solid white;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // BROWN BROWN BROWN
.brown {
    &-style {
        background: linear-gradient(to bottom, brown, white);

        &-username {
            color: white;
        }

        &-occupate {
            color: white;
            background-color: brown;
        }

        &-biography {
            color: #e0e0e0;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: white;
                color: brown;
                border: 1px solid brown;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: brown;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, brown, white);

        @include choose-display;

        .brownlinks {
            background: white;
            border: 1px solid brown;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // GREEN GREEN GREEN

.green {
    &-style {
        background: linear-gradient(to bottom, green, white);

        &-username {
            color: white;
        }

        &-occupate {
            color: green;
            background-color: white;
        }

        &-biography {
            color: #ededed;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: white;
                color: green;
                border: 1px solid green;
                box-shadow: 1px 3px 5px rgb(167 167 167 / 76.7%);
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: green;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, green, white);

        @include choose-display;

        .greenlinks {
            background: white;
            border: 1px solid green;

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // AFRO THEME AFRO THEME AFRO THEME

.afro {
    &-style {
        background: linear-gradient(to bottom, #e6541b, black);

        &-username {
            color: white;
        }

        &-occupate {
            color: black;
            background-color: white;
        }

        &-biography {
            color: white;
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: white;
                color: black;
                border: 1px solid #e6541b;
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: #e6541b;
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(to bottom, #e6541b, black);

        @include choose-display;

        .afrolinks {
            background: white;
            border: 1px solid #e6541b;

            @include choose-strokes;
        }
    }
}

// TODO: default theme maken....
