@use "sass:color";
@use "sass:map";

@use "../../customs" as *;

.choose {
    &-theme {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(20);
    }

    &-color {
        input {
            display: none;
        }

        .current-theme {
            border: 5px $primary-color solid;
        }
    }
}

// ---------------------------------------------------------------------------------------- // YELLOW YELLOW YELLOW

.yellow {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "yellow"), "primary"),
            map.get(map.get($themes, "yellow"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "yellow"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "yellow"), "secondary");
            background-color: map.get(map.get($themes, "yellow"), "tertiary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "yellow"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            a {
                background: map.get(map.get($themes, "yellow"), "tertiary");
                color: map.get(map.get($themes, "yellow"), "secondary");
                border: 1px solid map.get(map.get($themes, "yellow"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "yellow"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "yellow"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "yellow"), "primary"),
            map.get(map.get($themes, "yellow"), "secondary")
        );

        @include choose-display;

        .yellowlinks {
            background: map.get(map.get($themes, "yellow"), "tertiary");
            border: 1px solid map.get(map.get($themes, "yellow"), "primary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // GRAY GRAY GRAY
.gray {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "grey"), "primary"),
            map.get(map.get($themes, "grey"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "grey"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "grey"), "tertiary");
            background-color: map.get(map.get($themes, "grey"), "secondary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "grey"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "grey"), "shadow");
                background: color.adjust(
                    map.get(map.get($themes, "grey"), "secondary"),
                    $alpha: -0.25
                );
                color: map.get(map.get($themes, "grey"), "primary");
                border: 1px solid map.get(map.get($themes, "grey"), "primary");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "grey"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "grey"), "primary"),
            map.get(map.get($themes, "grey"), "secondary")
        );

        @include choose-display;

        .graylinks {
            background: map.get(map.get($themes, "grey"), "secondary");
            border: 1px solid map.get(map.get($themes, "grey"), "primary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // PINK PINK PINK
.pink {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "pink"), "primary"),
            map.get(map.get($themes, "pink"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "pink"), "secondary");
        }

        &-occupate {
            color: map.get(map.get($themes, "pink"), "tertiary");
            background-color: map.get(map.get($themes, "pink"), "secondary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "pink"), "secondary"),
                $alpha: -0.125
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "pink"), "shadow");
                color: map.get(map.get($themes, "pink"), "secondary");
                background: map.get(map.get($themes, "pink"), "tertiary");
                border: 1px solid map.get(map.get($themes, "pink"), "secondary");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "pink"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "pink"), "primary"),
            map.get(map.get($themes, "pink"), "secondary")
        );

        @include choose-display;

        .pinklinks {
            background: map.get(map.get($themes, "pink"), "tertiary");
            border: 1px solid map.get(map.get($themes, "pink"), "secondary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // BLACK BLACK BLACK

.black {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "black"), "primary"),
            map.get(map.get($themes, "black"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "black"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "black"), "primary");
            background-color: map.get(map.get($themes, "black"), "tertiary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "black"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "black"), "secondary");
                color: map.get(map.get($themes, "black"), "tertiary");
                border: 1px solid map.get(map.get($themes, "black"), "tertiary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "black"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "black"), "tertiary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "black"), "primary"),
            map.get(map.get($themes, "black"), "secondary")
        );

        @include choose-display;

        .blacklinks {
            background: map.get(map.get($themes, "black"), "secondary");
            border: 1px solid map.get(map.get($themes, "black"), "tertiary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // BROWN BROWN BROWN
.brown {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "brown"), "primary"),
            map.get(map.get($themes, "brown"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "brown"), "secondary");
        }

        &-occupate {
            color: map.get(map.get($themes, "brown"), "secondary");
            background-color: map.get(map.get($themes, "brown"), "primary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "brown"), "secondary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "brown"), "secondary");
                color: map.get(map.get($themes, "brown"), "primary");
                border: 1px solid map.get(map.get($themes, "brown"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "brown"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "brown"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "brown"), "primary"),
            map.get(map.get($themes, "brown"), "secondary")
        );

        @include choose-display;

        .brownlinks {
            background: map.get(map.get($themes, "brown"), "secondary");
            border: 1px solid map.get(map.get($themes, "brown"), "primary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // GREEN GREEN GREEN

.green {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "green"), "primary"),
            map.get(map.get($themes, "green"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "green"), "primary");
        }

        &-occupate {
            color: map.get(map.get($themes, "green"), "secondary");
            background-color: map.get(map.get($themes, "green"), "primary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "green"), "secondary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "green"), "secondary");
                color: map.get(map.get($themes, "green"), "primary");
                border: 1px solid map.get(map.get($themes, "green"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "green"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "green"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "green"), "primary"),
            map.get(map.get($themes, "green"), "secondary")
        );

        @include choose-display;

        .greenlinks {
            background: map.get(map.get($themes, "green"), "secondary");
            border: 1px solid map.get(map.get($themes, "green"), "primary");

            @include choose-strokes;
        }
    }
}

// ---------------------------------------------------------------------------------------- // AFRO THEME AFRO THEME AFRO THEME

.afro {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "afro"), "primary"),
            map.get(map.get($themes, "afro"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "afro"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "afro"), "secondary");
            background-color: map.get(map.get($themes, "afro"), "tertiary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "afro"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "afro"), "tertiary");
                color: map.get(map.get($themes, "afro"), "secondary");
                border: 1px solid map.get(map.get($themes, "afro"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "afro"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "afro"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "afro"), "primary"),
            map.get(map.get($themes, "afro"), "secondary")
        );

        @include choose-display;

        .afrolinks {
            background: map.get(map.get($themes, "afro"), "tertiary");
            border: 1px solid map.get(map.get($themes, "afro"), "secondary");

            @include choose-strokes;
        }
    }
}

.orange {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "orange"), "primary"),
            map.get(map.get($themes, "orange"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "orange"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "orange"), "secondary");
            background-color: map.get(map.get($themes, "orange"), "tertiary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "orange"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "orange"), "tertiary");
                color: map.get(map.get($themes, "orange"), "secondary");
                border: 1px solid
                    map.get(map.get($themes, "orange"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "orange"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "orange"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "orange"), "primary"),
            map.get(map.get($themes, "orange"), "secondary")
        );

        @include choose-display;

        .orangelinks {
            background: map.get(map.get($themes, "orange"), "tertiary");
            border: 1px solid map.get(map.get($themes, "orange"), "secondary");

            @include choose-strokes;
        }
    }
}

.red {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "red"), "primary"),
            map.get(map.get($themes, "red"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "red"), "tertiary");
        }

        &-occupate {
            color: map.get(map.get($themes, "red"), "secondary");
            background-color: map.get(map.get($themes, "red"), "tertiary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "red"), "tertiary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "red"), "tertiary");
                color: map.get(map.get($themes, "red"), "secondary");
                border: 1px solid map.get(map.get($themes, "red"), "secondary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "red"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "red"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "red"), "primary"),
            map.get(map.get($themes, "red"), "secondary")
        );

        @include choose-display;

        .redlinks {
            background: map.get(map.get($themes, "red"), "tertiary");
            border: 1px solid map.get(map.get($themes, "red"), "secondary");

            @include choose-strokes;
        }
    }
}

.blue {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "blue"), "primary"),
            map.get(map.get($themes, "blue"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "blue"), "secondary");
        }

        &-occupate {
            color: map.get(map.get($themes, "blue"), "tertiary");
            background-color: map.get(map.get($themes, "blue"), "secondary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "blue"), "secondary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "blue"), "secondary");
                color: map.get(map.get($themes, "blue"), "primary");
                border: 1px solid map.get(map.get($themes, "blue"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "blue"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "blue"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "blue"), "primary"),
            map.get(map.get($themes, "blue"), "secondary")
        );

        @include choose-display;

        .bluelinks {
            background: map.get(map.get($themes, "blue"), "secondary");
            border: 1px solid map.get(map.get($themes, "blue"), "tertiary");

            @include choose-strokes;
        }
    }
}

.purple {
    &-style {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "purple"), "primary"),
            map.get(map.get($themes, "purple"), "secondary")
        );

        &-username {
            color: map.get(map.get($themes, "purple"), "secondary");
        }

        &-occupate {
            color: map.get(map.get($themes, "purple"), "tertiary");
            background-color: map.get(map.get($themes, "purple"), "secondary");
        }

        &-biography {
            color: color.adjust(
                map.get(map.get($themes, "purple"), "secondary"),
                $alpha: -0.25
            );
        }

        &-links {
            /* stylelint-disable-next-line no-descending-specificity */
            a {
                background: map.get(map.get($themes, "purple"), "secondary");
                color: map.get(map.get($themes, "purple"), "primary");
                border: 1px solid map.get(map.get($themes, "purple"), "primary");
                box-shadow: 1px 3px 5px
                    map.get(map.get($themes, "purple"), "shadow");
            }
        }

        &-icons {
            &:nth-child(n) {
                a {
                    color: map.get(map.get($themes, "purple"), "primary");
                }
            }
        }
    }

    &-theme {
        background: linear-gradient(
            to bottom,
            map.get(map.get($themes, "purple"), "primary"),
            map.get(map.get($themes, "purple"), "secondary")
        );

        @include choose-display;

        .purplelinks {
            background: map.get(map.get($themes, "purple"), "secondary");
            border: 1px solid map.get(map.get($themes, "purple"), "tertiary");

            @include choose-strokes;
        }
    }
}
