$primaryColor: #cc9932;
$secondaryColor: #2eb4e9;
$thirdColor: #808080;

$subColor: #ababab;
$extraSubColor: #bcbcbc;
$ashColor: #343434;

$whiteColor: #fcfcfc;
$blackColor: #0e0e0e;
$transColor: #0e0e0e87;

$darkColor: #223f49;
$lightColor: #d8e6d8;

$successColor: #4cbc28;
$errorColor: #c60319;

$warningColor: #d9534f;
