$primaryColor: #cc9932;
$secondaryColor: #2eb4e9;
$thirdColor: #808080;

$subColor: #ababab;
$ashColor: #343434;

$whiteColor: #fcfcfc;
$blackColor: #0e0e0e;

$darkColor: #223f49;
$lightColor: #d8e6d8;

$successColor: #4cbc28;
$errorColor: #d9534f;
