$primary-color: #cc9932;
$secondary-color: #2eb4e9;
$third-color: grey;

$sub-color: #ababab;

$white-color: #fcfcfc;
$black-color: #0e0e0e;

$dark-color: #223f49;
$light-color: #d8e6d8;

$success-color: #3fbd3f;
$error-color: #d9534f;
