@import '../customs/colors';

// overall mixins ---------------------------- // overall mixins
@mixin smoothTrans {
	transition: all 0.5s ease-out;
}

@mixin boxShadow {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

@mixin container($yAxis: 0) {
	width: 100%;
	max-width: 1200px;
	margin: $yAxis auto;
}

@mixin button {
	background: #cc9932;
	color: #343434;
	padding: 0.25em 1em;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 5px;
	transition: all 0.3s ease-out;

	&:hover {
		transform: scale(0.97);
	}
}

// dashboard mixins ---------------------------- // dashboard mixins
@mixin chooseDisplay {
	border-radius: 12.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 200px;
	border: solid 5px #424242;
	cursor: pointer;

	@include smoothTrans;

	&:hover {
		border: solid 5px $secondaryColor;
	}
}

@mixin chooseUsername {
	position: absolute;
	top: 33%;
	left: 34%;
	z-index: 2;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 99.5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin occupateColor {
	position: absolute;
	top: 38%;
	left: 38%;
	z-index: 2;
	margin: 0 auto;
	text-align: center;
	width: 75px;
	border-radius: 7.5px;
	font-size: 0.5em;
	padding: 2.5px 2.5px;
}

@mixin biographyPhone {
	position: absolute;
	top: 44%;
	left: 15%;
	z-index: 2;
	text-align: center;
	max-width: 35ch;
	overflow-wrap: break-word;
	width: 250px;
	margin: 0 auto;
	font-size: 0.6em;
}

@mixin chooseIcon {
	display: flex;
	position: absolute;
	gap: 17.5px;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin chooseLinks {
	display: inline-block;
	border-radius: 3px;
	width: 100%;
	padding: 2.5px 25px;
	font-size: 0.9em;
}

@mixin chooseStrokes {
	width: 50px;
	height: 12.5px;
	margin: 10px 0;
}

// page mixins ---------------------------- // page mixins

@mixin pageTheme {
	height: 100%;
	min-height: 100vh;
	padding-top: 10rem;
	text-align: center;

	img {
		width: 175px;
		height: 175px;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
	}
}

@mixin pageLinks {
	display: inline-block;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 750px;

	&:hover {
		opacity: 0.875;
	}
}

@mixin pageOccupation {
	padding: 5px 2.5px;
	width: 8.25em;
	margin: 10px auto 50px;
	border-radius: 7.5px;
	font-size: 0.8em;
	opacity: 0.75;
}

@mixin pageBiography {
	max-width: 40ch;
	text-align: center;
	margin: 25px auto 50px;

	@media (max-width: 40em) {
		max-width: 30ch;
	}
}

@mixin pageSocials {
	display: flex;
	justify-content: center;
	margin: 75px 0px;
}
