@import '../customs/colors';

// overall mixins ---------------------------- // overall mixins
@mixin smoothTrans($style: all) {
	transition: $style 0.15s ease-in-out;
}

@mixin boxShadow {
	box-shadow: 1px 3px 5px rgba(0 0 0 / 20%);
}

@mixin borderRadius($radius: 5px) {
	border-radius: $radius;
}

@mixin container($marginY: 0, $paddingX: 2em, $maxWidth: 1200px) {
	width: 100%;
	max-width: $maxWidth;
	padding: 0 $paddingX;
	margin: $marginY auto;
}

@mixin clamp($lines: 2) {
	display: inline;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin card($margin: 1em, $padding: 1em) {
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0 0 0 / 33%);
	padding: $padding;
	margin: $margin;
}

@mixin logs {
	outline: 1px solid $whiteColor;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1em auto 0;
	padding: 0.2em 1em;
	border-radius: 2.5px;
	font-size: 0.825rem;
}

@mixin button($yAxis: 0.5em, $type: 1) {
	padding: $yAxis 1.25em;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 5px;
	transition: all 0.2s ease-out;
	width: fit-content;
	height: fit-content;

	&:not(:disabled):hover {
		transform: scale(0.97);
	}

	@if $type == 1 {
		background: $primaryColor;
		color: $ashColor;
	} @else if $type == 2 {
		background-color: $warningColor;
		color: $whiteColor;
	}
}

@mixin dashButton(
	$bgColor: $whiteColor,
	$txtColor: $ashColor,
	$yAxis: 0.375em,
	$type: 1
) {
	background-color: $bgColor;
	color: $txtColor;
	padding: $yAxis 1em;
	text-align: center;
	border-radius: 3px;
	white-space: nowrap;

	&:not(:disabled):hover {
		transform: scale(0.97);
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}

	@if $type == 1 {
		min-width: 120px;

		@include mobile {
			min-width: 100px;
			font-size: 0.875rem;
		}
	} @else if $type == 2 {
		min-height: 44px;
	}
}

// dashboard mixins ---------------------------- // dashboard mixins

@mixin chooseDisplay {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 125px;
	height: 200px;
	border: solid 5px rgb(30, 30, 30);
	cursor: pointer;

	@include smoothTrans;
	@include boxShadow;

	@include desktop {
		width: 112.5px;
		height: 175px;
	}

	@include mobile {
		width: 100px;
		height: 150px;
	}

	&:hover {
		border: solid 5px $secondaryColor;
	}
}

@mixin chooseStrokes {
	width: 62.5%;
	height: 12.5px;
	border-radius: 2px;
}

// page mixins ---------------------------- // page mixins

@mixin pageTheme {
	height: 100%;
	min-height: 100vh;
	position: relative;
	text-align: center;
	padding: 5em 0 15em;
}

@mixin pageUsername {
	display: block;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.575em;
	font-size: 2.75rem;
	padding: 0 1em;

	@include mobile {
		margin-bottom: 0.5em;
		font-size: 2rem;
	}
}

@mixin pageOccupation {
	margin: 0 auto 3em;
	padding: 5px 10px;
	width: fit-content;
	border-radius: 7.5px;
	font-size: 0.8rem;
	opacity: 0.75;
}

@mixin pageBiography {
	display: inline-block;
	margin-bottom: 3em;
	padding: 0 1em;
	max-width: 650px;
	width: 100%;
}

@mixin pageLinks {
	padding: 0 2em;

	@include mobile {
		padding: 0 1em;
	}

	& > li > a {
		display: inline-block;
		padding: 0.475em 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		max-width: 750px;
		border-radius: 3px;
		margin-bottom: 1em;

		&:hover {
			opacity: 0.875;
		}
	}
}

@mixin pageLocation {
	margin-top: 2em;
	margin-bottom: -1.5em;

	> i {
		margin-right: 0.5em;
	}

	> a {
		font-size: 0.9rem;
		text-underline-offset: 3px;

		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin pageSocials {
	position: absolute;
	left: 50%;
	bottom: 9em;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	gap: 1.5em;

	> a {
		&:hover {
			opacity: 0.75;
		}

		> i {
			font-size: 1.75em;

			@include mobile {
				font-size: 1.5em;
			}
		}
	}
}
