@use "functions" as *;
@use "mediaqueries" as *;
@use "mixins" as *;
@use "colors" as *;
@use "utils" as *;

// pages

%page-bg {
    position: absolute;
    right: 0;
    max-width: rem-calc(250);
    z-index: -1;
    top: 0;
    height: auto;
    opacity: 0.25;
}

%page-log {
    color: $white-color;
    padding: rem-calc(4 12);
    margin-top: rem-calc(16);
    font-weight: bold;
    text-align: center;

    @include border-radius(3);
    @include fluid-type(12, 14);
}

// dashboard

%dashboard-log {
    outline: 1px solid rgba($white-color, 0.75);
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: rem-calc(4 16);
    color: $white-color;

    @include border-radius(2.5);
    @include fluid-type(12, 14);
}

%dashboard-link-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    width: rem-calc(40);
    height: rem-calc(40);
    cursor: pointer;

    @include smooth-trans;
    @include border-radius(50%);
}

// login

%login-button {
    font-weight: bold;
    font-size: rem-calc(12);
    padding: rem-calc(10);
    max-width: rem-calc(200);
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $black-color;

    @include mobile {
        max-width: rem-calc(250);
    }

    &:hover {
        transform: scale(1.025);
    }
}

%login-text {
    font-weight: 500;
    line-height: 1.7;

    @include fluid-type(13.5, 15);
}

// forms

%page-input {
    background: #eee;
    border: none;
    padding: rem-calc(10 15);
    margin: rem-calc(10 0);
    color: $black-color;

    @include border-radius(3);

    &::placeholder {
        font-size: rem-calc(15);
        color: $third-color;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}
