@use "../../customs" as *;

.intro {
    position: relative;

    @include container(rem-calc(48), rem-calc(24));

    h1 {
        color: $primary-color;
    }

    h2 {
        margin-top: rem-calc(4);
        font-style: italic;
        font-weight: 500;
        color: $black-color;
        text-shadow: 1px 1px 2px rgb(255 255 255 / 12.5%);

        @include fluid-type(18, 20);
    }

    p {
        small {
            margin: rem-calc(10 0);
            display: block;
            color: #ababab;
        }

        span {
            color: $primary-color;
        }
    }

    button {
        margin: rem-calc(0 4);

        @include button(0.125em);
    }

    > img {
        @extend %page-bg;
    }
}
