@use "sass:color";

@use "../../customs" as *;

.maps {
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    filter: grayscale(50%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
    overflow: hidden;
    height: rem-calc(200);
    width: 100%;
    margin-top: rem-calc(24);
    position: relative;

    @include box-shadow;
    @include smooth-trans;

    &-container {
        padding: 0;

        @include mobile {
            padding: rem-calc(0 32);
        }
    }

    &-container & {
        @include container(rem-calc(16), 0, rem-calc(1150));
    }

    &.ads-dashboard {
        outline: 3px solid rgba($primary-color, 75%);
        margin-top: rem-calc(16);

        @include border-radius;
    }

    &.ads-page {
        margin: rem-calc(24) auto rem-calc(56);
        max-width: rem-calc(1250);

        @include border-radius;
    }

    .marker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        img {
            width: rem-calc(40);
            height: rem-calc(40);
            object-fit: cover;
            background: linear-gradient(
                135deg,
                rgba(0 0 0 / 75%),
                $black-color
            );
            outline: solid $white-color 3px;

            @include border-radius(50%);
        }
    }

    &.ads-home {
        opacity: 0.75;
        height: rem-calc(250);
        border-right: none;
        border-left: none;

        @include mobile {
            border: 2px solid rgba($primary-color, 82.5%);

            @include border-radius;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 25%;
            height: 100%;
            z-index: 1;
        }

        &::before {
            left: 0;
            background: linear-gradient(
                to right,
                $third-color,
                rgba(255 255 255 / 0%)
            );
        }

        &::after {
            right: 0;
            background: linear-gradient(
                to left,
                $third-color,
                rgba(255 255 255 / 0%)
            );
        }

        &:hover {
            opacity: 1;

            &::before,
            &::after {
                width: 0%;
            }
        }
    }

    &-info {
        @include container(rem-calc(16), 0, rem-calc(1150));

        @include mobile {
            @include container(rem-calc(24), 0, rem-calc(1150));
        }

        &-wrapper {
            padding: rem-calc(24 24 32);
            background: linear-gradient(
                135deg,
                rgba(0 0 0 / 50%),
                $black-color
            );
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            gap: rem-calc(16);

            @include box-shadow;

            @include phablet {
                padding: rem-calc(24 32 32);
                flex-direction: row;

                @include border-radius;
            }

            > div {
                &:first-child {
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(16);

                    > h3 {
                        color: $primary-color;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: rem-calc(4 8);
                        margin-bottom: rem-calc(8);

                        span {
                            color: $secondary-color;
                            font-size: initial;
                        }
                    }

                    > span {
                        i {
                            color: $secondary-color;
                            font-size: rem-calc(24);
                            margin-right: rem-calc(8);
                        }

                        > a {
                            font-size: rem-calc(14);

                            &:hover {
                                text-decoration: underline;
                                text-underline-offset: 3px;
                                text-decoration-color: $secondary-color;
                            }
                        }
                    }

                    > p {
                        color: color.adjust($white-color, $lightness: -25%);
                        max-width: 52ch;
                        margin: rem-calc(8 0);
                    }

                    > .info-contact {
                        display: none;
                        gap: rem-calc(24);

                        @include phablet {
                            display: flex;
                        }

                        > div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: rem-calc(10);

                            > i {
                                color: $secondary-color;
                            }

                            > a {
                                font-size: rem-calc(15);

                                &:hover {
                                    text-decoration: underline;
                                    text-underline-offset: 3px;
                                    text-decoration-color: $secondary-color;
                                }
                            }
                        }
                    }

                    > .info-buttons {
                        display: flex;
                        gap: rem-calc(16);
                        margin-top: rem-calc(28);
                        margin-left: auto;

                        @include phablet {
                            margin-left: unset;
                        }

                        > a {
                            @include button;
                        }

                        > button {
                            @include button($type: 2);
                        }
                    }
                }

                /* stylelint-disable-next-line no-descending-specificity */
                &:last-child {
                    display: flex;
                    gap: rem-calc(32);
                    justify-content: flex-start;
                    align-items: flex-start;

                    @include phablet {
                        justify-content: center;
                    }

                    @include tablet {
                        align-items: flex-start;
                    }

                    /* stylelint-disable-next-line no-descending-specificity */
                    &:has(img) {
                        align-items: center;
                        margin-bottom: rem-calc(24);

                        @include phablet {
                            margin-bottom: 0;
                        }
                    }

                    .info-contact-mobile {
                        display: flex;
                        gap: rem-calc(16);
                        margin-bottom: rem-calc(18);

                        @include phablet {
                            display: none;
                        }

                        > div {
                            display: flex;
                            align-items: center;
                            gap: rem-calc(16);

                            > i {
                                color: $secondary-color;
                            }
                        }
                    }

                    img {
                        width: rem-calc(100);
                        height: rem-calc(100);
                        object-fit: cover;

                        @include border-radius;

                        @include mobile {
                            width: rem-calc(125);
                            height: rem-calc(125);
                        }

                        @include phablet {
                            height: rem-calc(150);
                            width: rem-calc(150);
                        }

                        + .info-contact-mobile {
                            margin-bottom: 0;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
