@use "../../customs" as *;

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    &-circle {
        width: rem-calc(64);
        height: rem-calc(64);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: $white-color $white-color transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border: 3px solid;
            border-color: transparent transparent $primary-color $primary-color;
            width: rem-calc(56);
            height: rem-calc(56);
            border-radius: 50%;
            box-sizing: border-box;
            animation: rotation-back 0.5s linear infinite;
            transform-origin: center center;
        }

        &::before {
            width: rem-calc(48);
            height: rem-calc(48);
            border-color: $white-color $white-color transparent transparent;
            animation: rotation 1.5s linear infinite;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes rotation-back {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
}
