@use "../../customs" as *;

.footer {
    text-align: center;
    color: #8c8c8c;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: rem-calc(22 0);

    @include fluid-type(8.5, 16);

    a {
        @include smooth-trans;

        &:hover {
            color: $secondary-color;
        }

        &:nth-of-type(3) {
            filter: grayscale(100%);
            margin-left: rem-calc(2.5);
            color: $white-color;

            img {
                vertical-align: -7.5px;
                margin-left: rem-calc(3);
                width: rem-calc(25);
            }

            &:hover {
                filter: grayscale(0%);
                color: #fc0;
            }
        }
    }
}
