@use 'sass:color';

@use '../../customs' as *;

.navbar {
	background-color: $black-color;
	min-height: 70px;
	color: $white-color;

	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		position: relative;
		gap: 1.5em;

		@include container(0, 1em);

		@include mobile {
			@include container(0, 1em);
		}

		> a > img {
			width: 75px;
			vertical-align: middle;
		}

		.logged-user {
			margin-right: auto;

			> a {
				background: $primary-color;
				color: color.adjust($black-color, $lightness: 5%);
				padding: 0.25em 1em;
				font-weight: 600;
				border-radius: 5px;

				&:hover {
					opacity: 0.75;
					color: $black-color;

					@include smooth-trans;
				}
			}
		}

		> nav {
			display: flex;
			gap: 2em;

			> ul {
				display: flex;
				align-items: center;
				gap: 1.375em;

				> li {
					> a,
					button {
						cursor: pointer;

						@include smooth-trans;

						&:hover {
							color: $third-color;
						}
					}
				}
			}
		}
	}
}
