@use "sass:color";

@use "../../customs" as *;

.navbar {
    background-color: $black-color;
    min-height: rem-calc(70);
    color: $white-color;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        gap: rem-calc(24);

        @include container(0, rem-calc(16));

        > a > img {
            width: rem-calc(75);
            vertical-align: middle;
        }

        .logged-user {
            margin-right: auto;

            > a {
                background: $primary-color;
                color: color.adjust($black-color, $lightness: 5%);
                padding: rem-calc(4 16);
                font-weight: 600;

                @include border-radius(5);

                &:hover {
                    opacity: 0.75;
                    color: $black-color;

                    @include smooth-trans;
                }
            }
        }

        > nav {
            display: flex;
            gap: rem-calc(32);

            > ul {
                display: flex;
                align-items: center;
                gap: rem-calc(24);

                > li {
                    /* stylelint-disable-next-line no-descending-specificity */
                    > a,
                    button {
                        cursor: pointer;

                        @include smooth-trans;

                        /* stylelint-disable-next-line no-descending-specificity */
                        &:hover {
                            color: $third-color;
                        }
                    }
                }
            }
        }
    }
}
